{% extends 'home/base.html' %}
{% load custom_filters %}

{% block content %}

	<h2>Facesearch</h2>	

	<form method="POST" enctype="multipart/form-data" style="border: 1px solid red;">
		<div class="preview">
			<img id="imagePreview" src="#" alt="Image Preview" style="display: none; max-width: 300px;"/>
		</div>

		{% csrf_token %}

		{{ form }}

		<button class="btn" type="submit">
			<span class="material-symbols-outlined">upload_2</span>
			<span>Upload</span>
		</button>
	</form>
	<form method="POST">
		{% csrf_token %}

		<button class="btn" name="open_camera" value="1" type="submit">
			<span class="material-symbols-outlined">camera</span>
			<span>Open camera</span>
		</button>
	</form>

	<div class="profiles-list">
		{% if profiles %}
			{% for dist, profile in profiles %}
				<div class="profile card">
					<h2>Top {{ forloop.counter }}</h2>
					<p><b>Distance: {{ dist|floatformat:2 }}</b></p>
					<div class="header">
						<div></div>

						<div class="actions">
							<a class="btn" href="{% url 'profile' profile.p_type profile.pk %}">
								<span class="material-symbols-outlined">open_in_new</span>
							</a>
							<a class="btn" href="{% url 'profile-update' profile.p_type profile.pk %}?prev={{request.path}}">
								<span class="material-symbols-outlined">edit</span>
							</a>
							<a class="btn" href="##########################?prev={{request.path}}">
								<span class="material-symbols-outlined">archive</span>
							</a>
						</div>
					</div> 

					<div class="content">
						<div class="picture">
							<img src="{{ profile.thumbnail.url }}" alt="">
						</div>

						<div class="details">
							<div>Name: {{ profile|full_name }}</div>
							<div>Rank: {{ profile.rank|upper }} </div> 
							<div>Address: {{ profile.address }}</div>
							<div>Date profiled: {{ profile.date_profiled }}</div>
							<div>Date assigned: {{ profile.date_assigned }}</div>
							<div>Designation: {{ profile.designation }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h2>No batig nawng found.</h2>
		{% endif %}
	</div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Get the file input element from the form
            const fileInput = document.getElementById("id_image"); // Use the form field's ID
            const imagePreview = document.getElementById("imagePreview");

            fileInput.addEventListener("change", function(event) {
                // Check if a file is selected
                if (fileInput.files && fileInput.files[0]) {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        imagePreview.src = e.target.result; // Set preview image source
                        imagePreview.style.display = 'block'; // Make the image visible
                    };

                    reader.readAsDataURL(fileInput.files[0]); // Read the image file as a data URL
                }
            });
        });
    </script>

{% endblock content %}