{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	<title>Operate</title>
</head>
<body>
	<header>
		<div>
			OPERATE
		</div>	

		<form method="POST">
			<input type="search" name="">
			<button type="submit">Search</button>
		</form>

		<div>
			<a class="btn" href="{% url 'operate-home' %}">Home</a>
			<a class="btn" href="{% url 'profiles' %}">Profiles</a>
			<a class="btn" href="#">Archives</a>
		</div>

		<div>
			<a class="btn" href="#">User</a>
			<a class="btn" href="admin/">Admin</a>
			<a class="btn" href="#">Logout</a>
		</div>
	</header>

	<main>
		{% block content %}
		{% endblock content %}
	</main>

	<footer>
		<h2>OPERATE</h2>
	</footer>
</body>
</html>