{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<title>Operate</title>
</head>
<body>
	<header>
		<div>
			OPERATE
		</div>	


		<!--==================== 
			Search by text 
		===================-->
		<!-- <form method="GET" class="search-form">
			<input type="search" name="search">

			<button class="btn" type="submit">
				<span class="material-symbols-outlined">
					search
				</span>
			</button>
		</form> -->

		<!--==================== 
			Search by face 
		===================-->
		<div class="dropdown">
			<button class="btn">
				<span class="material-symbols-outlined">
					account_box
				</span>
				FaceSearch
			</button>

			<div class="content">
				<a class="btn" href="#">
					<span class="material-symbols-outlined">
						upload_file
					</span>
					Upload an image
				</a>

				<a class="btn" href="#">
					<span class="material-symbols-outlined">
						photo_camera
					</span>
					Open camera
				</a>
			</div>
		</div>

		<nav>
			<a class="btn" href="{% url 'operate-home' %}">
				<span class="material-symbols-outlined">
					home
				</span>
				Home
			</a>
			<div class="dropdown">
				<button class="btn">
					<span class="material-symbols-outlined">
						Group
					</span>
					Profiles
				</button>

				<div class="content">
					<a class="btn" href="{% url 'profiles-personnels' %}">
						<span class="material-symbols-outlined">
							local_police
						</span>
						Personnel
					</a>
					<a class="btn" href="{% url 'profiles-inmates' %}">
						<span class="material-symbols-outlined">
							person_alert
						</span>
						Inmates
					</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="btn">
					<span class="material-symbols-outlined">
						files
					</span>
					Archives
				</button>

				<div class="content">
					<a class="btn" href="{% url 'archives-personnels' %}">
						<span class="material-symbols-outlined">
							local_police
						</span>
						Personnel
					</a>
					<a class="btn" href="{% url 'archives-inmates' %}">
						<span class="material-symbols-outlined">
							person_alert
						</span>
						Inmates
					</a>
				</div>
			</div>
		</nav>

		<!--==================== 
			User action
		===================-->
		<div class="dropdown">
			<button class="btn">
				<span class="material-symbols-outlined">
					account_circle
				</span>
			</button>
			<div class="content">
				<a class="btn" href="#">
					<span class="material-symbols-outlined">
						person
					</span>
					User
				</a>
				<a class="btn" href="/admin/">
					<span class="material-symbols-outlined">
						admin_panel_settings
					</span>
					Admin
				</a>
				<form action="{% url 'user-logout' %}" method="POST">
					{% csrf_token %}
					<button class="btn" type="submit">
						<span class="material-symbols-outlined">
							logout
						</span>
						Logout
					</button>
				</form>
			</div>
		</div>
	</header>

	<main>
		{% block content %}
		{% endblock content %}
	</main>

	<footer>
		<h2>OPERATE</h2>
	</footer>
</body>
</html>