{% extends 'home/base.html' %}

{% block content %}
	<div class="confimation-dialog-wrapper">
        <div class="confirmation-dialog">
            <div class="header">
                <div class="title">
                    <h3>{{ title }}</h3>
                </div>
            </div>
    
            <div class="body">
                {% if warning %}
                    <div class="warning">
                        {{ warning }}
                    </div>
                {% endif %}
    
                <form method="POST">
                    {% csrf_token %}
    
                    <div class="actions">
                        <button class="btn btn-a btn-danger" type="submit">Confirm</button>
                        <a class="btn btn-b btn-secondary" href="javascript:history.go(-1)">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}