{% extends 'home/base.html' %}

{% block content %}
	<div class="confirmation-dialog">
		<div class="header">
			<div class="title">
				<h2>{{ title }}</h2>
			</div>
            <div class="buttons">
                <a class="btn" href="javascript:history.go(-1)">Return</a>
            </div>
        </div>

		<div class="body">
            {% if warning %}
                <div class="warning">
                    {{ warning }}
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                {% if form %}
                    <div class="fields">
                        {{ form }}
                    </div>
                {% endif %}

                <div class="actions">
                    <button class="btn" type="submit">Confirm</button>
                    <button class="btn"><a href="javascript:history.go(-1)">Cancel</a></button>
                </div>
            </form>
		</div>
	</div>
{% endblock content %}