{% extends 'home/base.html' %}

{% block content %}
	<div class="new_profiles">
		<div class="personnels">
			<h2>Newly addeed personnels</h2>

			<div class="personnel card">
				<div class="header">
					<div>
						<span class="material-symbols-outlined">
							schedule
						</span>

						dateprofiled
					</div>

					<div class="actions">
						<a class="btn" href="#">
							<span class="material-symbols-outlined">
								open_in_new
							</span>
							View
						</a>
					</div>
				</div>

				<div class="content">
					<div class="picture">
						<img src="" alt="">
					</div>

					<div class="details">
						<div>rank</div>
						<div>name</div>
						<div>address</div>
						<div>dateassigned</div>
						<div>designation</div>
					</div>
				</div>
			</div>
		</div>

		<div class="inmates">
			<h2>Newly addeed inmates</h2>
			
			<div class="inmate card">
				<div class="header">
					<div>
						<span class="material-symbols-outlined">
							schedule
						</span>

						dateprofiled
					</div>

					<div class="actions">
						<a class="btn" href="#">
							<span class="material-symbols-outlined">
								open_in_new
							</span>
							View
						</a>
					</div>
				</div>

				<div class="content">
					<div class="picture">
						<img src="" alt="">
					</div>

					<div class="details">
						<div>name</div>
						<div>address</div>
						<div>datearrested</div>
						<div>crimeviolated</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
{% endblock content %}