{% extends 'home/base.html' %}
{% load custom_filters %}

{% block content %}
	<div class="new_profiles">

		<!--================
			Personnel
		=================-->
		{% if personnels %}
			<div class="personnels">
				<h2>Newly added personnels</h2>

				{% for profile in personnels %}
					<div class="personnel card">
						<div class="header">
							<div>
								<span class="material-symbols-outlined">schedule</span>
								<span>{{ profile.date_profiled }}</span>
							</div>

							<div class="actions">
								<a class="btn" href="{% url 'profile' profile.p_type profile.pk %}">
									<span class="material-symbols-outlined">open_in_new</span>
									<span>View</span>
								</a>
							</div>
						</div>

						<div class="content">
							<div class="picture">
								<img src="{{ profile.thumbnail.url }}" alt="">
							</div>

							<div class="details">
								<div>Name: {{ profile|full_name }}</div>
								<div>Rank: {{ profile.rank|upper }} </div> 
								<div>Address: {{ profile.address }}</div>
								<div>Date assigned: {{ profile.date_assigned }}</div>
								<div>Designation: {{ profile.designation }}</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>		
		{% else %}
			<h2>There are no personnels profiled.</h2>
		{% endif %}


		<!--================
			Inmates
		=================-->
		{% if inmates %}
			<div class="inmates">
				<h2>Newly added inmates</h2>

				{% for profile in inmates %}
					<div class="inmate card">
						<div class="header">
							<div>
								<span class="material-symbols-outlined">schedule</span>
								<span>{{ profile.date_profiled }}</span>
							</div>

							<div class="actions">
								<a class="btn" href="{% url 'profile' profile.p_type profile.pk %}">
									<span class="material-symbols-outlined">open_in_new</span>
									<span>View</span>
								</a>
							</div>
						</div>

						<div class="content">
							<div class="picture">
								<img src="{{ profile.thumbnail.url }}" alt="">
							</div>

							<div class="details">
								<div>Name: {{ profile|full_name }}</div>
								<div>Address: {{ profile.address }}</div>
								<div>Date arrested: {{ profile.date_arrested }}</div>
								<div>Date committed: {{ profile.date_committed }}</div>
								<div>Designation: {{ profile.crime_violated }}</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<h2>There are no inmates profiled.</h2>
		{% endif %}
	</div>
{% endblock content %}