{% extends 'home/base.html' %}
{% load custom_filters %}

{% block content %}
	<div class="new_profiles">

		{% if personnels %}
			<div class="personnels">
				<h2>Newly addeed personnels</h2>

				{% for personnel in personnels %}
					<div class="personnel card">
						<div class="header">
							<div>
								<span class="material-symbols-outlined">
									schedule
								</span>
								{{ personnel.date_profiled }}
							</div>

							<div class="actions">
								<a class="btn" href="{% url 'profile' personnel.pk %}">
									<span class="material-symbols-outlined">
										open_in_new
									</span>
									View
								</a>
							</div>
						</div>

						<div class="content">
							<div class="picture">
								<img src="{{ personnel.thumbnail.url }}" alt="">
							</div>

							<div class="details">
								<div>Name: {{ personnel.rank|upper }} {{ personnel|full_name }}</div>
								<div>Address: {{ personnel.address }}</div>
								<div>Date assigned: {{ personnel.date_assigned }}</div>
								<div>Designation: {{ personnel.designation }}</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>		
		{% else %}
			<h3>There are no personnels profiled.</h3>
		{% endif %}

		{% if inmates %}
			<div class="inmates">
				<h2>Newly addeed inmates</h2>

				{% for inmate in inmates %}
					<div class="inmate card">
						<div class="header">
							<div>
								<span class="material-symbols-outlined">
									schedule
								</span>
								{{ inmate.date_profiled }}
							</div>

							<div class="actions">
								<a class="btn" href="{% url 'profile' inmate.pk %}">
									<span class="material-symbols-outlined">
										open_in_new
									</span>
									View
								</a>
							</div>
						</div>

						<div class="content">
							<div class="picture">
								<img src="{{ inmate.thumbnail.url }}" alt="">
							</div>

							<div class="details">
								<div>Name: {{ inmate|full_name }}</div>
								<div>Address: {{ inmate.address }}</div>
								<div>Date assigned: {{ inmate.date_assigned }}</div>
								<div>Designation: {{ inmate.crime_violated }}</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<h2>There are no inmates profiled.</h2>
		{% endif %}
	</div>
{% endblock content %}