{% extends 'home/base.html' %}
{% load custom_filters %}

{% block content %}

	<h2>Inmate Profiles</h2>

	
	<div class="filter-bar">

		<!--==================== 
			Search by text 
		===================-->
		<form method="GET" class="search-form">
			<input type="search" name="search" placeholder="Search">
			<button class="btn" type="submit"><span class="material-symbols-outlined">search</span></button>
		</form>

		<!--==================== 
			Search by face 
		===================-->
		<div class="dropdown">
			<button class="btn">
				<span class="material-symbols-outlined">account_box</span>
				<span>FaceSearch</span>
			</button>

			<div class="content">
				<a class="btn" href="#">
					<span class="material-symbols-outlined">upload_fil</span>
					<span>Upload an image</span>
				</a>

				<a class="btn" href="#">
					<span class="material-symbols-outlined">photo_camera</span>
					<span>Open camera</span>
				</a>
			</div>
		</div>

		<!--==================== 
			Filters
		===================-->
		<form method="GET" class="filter-form">

			<input type="search" name="crime_violated" placeholder="Crime Violated">

			<!--==================== 
				
			===================-->
			<div>
				<select name="sort_order" id="sort_order">
					<option value="">Others</option>
				</select>
			</div>

			<!--==================== 
				Sort order
			===================-->
			<div>
				<select name="sort_order" id="sort_order">
					<option value="ascending">Ascending</option>
					<option value="descending">Descending</option>
				</select>
			</div>

			<button class="btn" type="submit">
				<span class="material-symbols-outlined">filter_alt</span>
				<span>Filter</span>
			</button>
		</form>

		<!--==================== 
			User actions 
		===================-->
		<div class="dropdown">
			<button class="btn"><span class="material-symbols-outlined">more_vert</span></button>

			<div class="content">
				<a class="btn" href="{% url 'profile-inmate-add' %}?prev={{request.path}}">
					<span class="material-symbols-outlined">add</span>
					<span>Add new profile</span>
				</a>
				<a class="btn" href="#">
					<span class="material-symbols-outlined">archive</span>
					<span>Archive all</span>
				</a>
			</div>
		</div>
	</div>

	<div class="profiles-list">
		{% if inmates %}
			{% for inmate in inmates %}
				<div class="inmate card">
					<div class="header">
						<div></div>

						<div class="actions">
							<a class="btn" href="{% url 'profile-inmate' inmate.pk %}">
								<span class="material-symbols-outlined">open_in_new</span>
							</a>
							<a class="btn" href="{% url 'profile-inmate-update' inmate.pk %}?prev={{request.path}}">
								<span class="material-symbols-outlined">edit</span>
							</a>
							<a class="btn" href="{% url 'archive-inmate-add' inmate.pk %}?prev={{request.path}}">
								<span class="material-symbols-outlined">archive</span>
							</a>
						</div>
					</div>

					<div class="content">
						<div class="picture">
							<img src="{{ inmate.thumbnail.url }}" alt="">
						</div>

						<div class="details">
							<span>Date Profile: {{ inmate.date_profiled }}</span>
							<div>Name: {{ inmate|full_name }}</div>
							<div>Address: {{ inmate.address }}</div>
							<div>Date arrested: {{ inmate.date_arrested }}</div>
							<div>Date committed: {{ inmate.date_committed }}</div>
							<div>Designation: {{ inmate.crime_violated }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h2>There are no inmates profiled.</h2>
		{% endif %}
	</div>
{% endblock content %}