{% extends 'home/base.html' %}
{% load custom_filters %}

{% block content %}

	<h2>Personnel Profiles</h2>
	{{ designations }}
	<div class="filter-bar">

		<!--==================== 
			Search by text 
		===================-->
		<form method="GET" class="search-form">
			<input type="search" name="search" placeholder="Search by name" value="{% if filters.search %}{{ filters.search }}{% endif %}">

			<input type="hidden" name="designation" value="{{ filters.designation }}">
			<input type="hidden" name="rank" value="{{ filters.rank }}">
			<input type="hidden" name="sort_order" value="{{ filters.sort_order }}">
			<input type="hidden" name="sort_by" value="{{ filters.sort_by }}">
			<input type="hidden" name="sort_order" value="{{ filters.sort_order }}">

			<div class="actions">
				<button class="btn" type="submit" title="Search">
					<span class="material-symbols-outlined">search</span>
				</button>
				<button class="btn" type="submit" name="reset_search" title="Reset search" value="reset_search">
					<span class="material-symbols-outlined">search_off</span>
				</button>
			</div>
		</form>

		<!--==================== 
			Search by face 
		===================-->
		<div class="dropdown">
			<button class="btn">
				<span class="material-symbols-outlined">account_box</span>
				<span>FaceSearch</span>
			</button>

			<div class="content">
				<a class="btn" href="#" title="Upload a file">
					<span class="material-symbols-outlined">upload_file</span>
					<span>Upload an image</span>
				</a>

				<a class="btn" href="#" title="Open camera">
					<span class="material-symbols-outlined">photo_camera</span>
					<span>Open camera</span>
				</a>
			</div>
		</div>


		<!--==================== 
			Filters
		===================-->
		<form method="GET" class="filter-form">
			<input type="hidden" name="search" value="{% if filters.search %}{{ filters.search }}{% endif %}">
			<input type="search" name="designation" placeholder="Designation" value="{% if filters.designation %}{{ filters.designation }}{% endif %}">
			<select name="rank" title="Filter by rank">
				<option class="option_title"  value="">Ranks</option>
				{% if ranks %}
					{% for rank in ranks%}
						<option value="{{ rank|lower }}" {% if filters.rank == rank %} selected {% endif %} >{{ rank|upper}}</option>
					{% endfor %}
				{% endif %}
			</select>
			<select name="sort_by" title="Sort by">
				<option class="option_title" value="">Sort by</option>
				{% if sort_choices %}
					{% for pair in sort_choices %}
						<option class="option_title" value="{{ pair.0 }}" {% if pair.0 in filters.sort_by %} selected {% endif %}>{{ pair.1 }}</option>

						{{ pair.0 }}
					{% endfor %}
				{% endif %}
			</select>
			<select name="sort_order" id="sort_order" title="Sort order">
				{% if order_choices %}
					{% for pair in order_choices %}
						<option class="option_title" value="{{ pair.0 }}" {% if pair.0 in filters.sort_order %} selected {% endif %}>{{ pair.1 }}</option>
					{% endfor %}
				{% endif %}
			</select>
			<button class="btn" type="submit" title="Apply filter">
				<span class="material-symbols-outlined">filter_alt</span>
			</button>
			<button class="btn" type="submit" name="reset_filter" title="Reset filter" value="reset_filter">
				<span class="material-symbols-outlined">filter_alt_off</span>
			</button>
		</form>

		<!--==================== 
			User actions 
		===================-->
		<div class="dropdown">
			<button class="btn">
				<span class="material-symbols-outlined">more_vert</span>
			</button>

			<div class="content">
				<a class="btn" href="{% url 'profile-personnel-add' %}?prev={{request.path}}">
					<span class="material-symbols-outlined">add</span>
					<span>Add new profile</span>
				</a>
				<a class="btn" href="#">
					<span class="material-symbols-outlined">archive</span>
					<span>Archive all</span>
				</a>
			</div>
		</div>
	</div>

	<div class="profiles-list">
		{% if personnels %}
			{% for personnel in personnels %}
				<div class="personnel card">
					<div class="header">
						<div>
						</div>

						<div class="actions">
							<a class="btn" href="{% url 'profile-personnel' personnel.pk %}">
								<span class="material-symbols-outlined">open_in_new</span>
							</a>
							<a class="btn" href="{% url 'profile-personnel-update' personnel.pk %}?prev={{request.path}}">
								<span class="material-symbols-outlined">edit</span>
							</a>
							<a class="btn" href="{% url 'archive-personnel-add' personnel.pk %}?prev={{request.path}}">
								<span class="material-symbols-outlined">archive</span>
							</a>
						</div>
					</div>

					<div class="content">
						<div class="picture">
							<img src="{{ personnel.thumbnail.url }}" alt="">
						</div>

						<div class="details">
							<div>Name: {{ personnel|full_name }}</div>
							<div>Rank: {{ personnel.rank|upper }} </div> 
							<div>Address: {{ personnel.address }}</div>
							<div>Date profiled: {{ personnel.date_profiled }}</div>
							<div>Date assigned: {{ personnel.date_assigned }}</div>
							<div>Designation: {{ personnel.designation }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h2>There are no personnel profiled.</h2>
		{% endif %}
	</div>
{% endblock content %}