{% extends 'app/base_headered.html' %}
{% load static %}

{% block content %}

<form class="profile" method="POST" enctype="multipart/form-data">
	{% csrf_token %}

	<div class="header bg-gradient-{{ p_type }}">
		<a class="btn" href="javascript:history.go(-1)">
			<i class="fa-solid fa-caret-left"></i>
			<span>Back</span>
		</a>

		<h2 class="title">Add new {{ p_type }} profile</h2>
		
		<div class="actions">
			<button class="btn btn-success" type="submit" name="option_upload" value="1">
				<i class="fa-solid fa-floppy-disk"></i>
				<span>Save profile</span>
			</button>

			<a class="btn" href="javascript:history.go(-1)">
				<i class="fa-solid fa-xmark"></i>
				<span>Cancel</span>
			</a>
		</div>
	</div>
		
	{% if messages %}
		<div class="messages-list">
			{% for message in messages %}
				<div class="message message-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
		</div>
	{% endif %}

	<div class="body">
		<div class="picture">
			<img src="{% static 'images/default.png' %}" alt="" id="imagePreview">

			<div class="image-fields">
				<div class="field">
					{% if form.raw_image.errors %}
						<div class="alert alert-danger">
							{% for error in form.raw_image.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}
				</div>
				<div class="field">
					<h3>Upload image</h3>
					<input class="form-control" type="file" name="raw_image" id="raw_image">
				</div>

				<span>or</span>

				<div class="field">
					<button class="btn btn-secondary" name="option_camera" value="1" type="submit">
						<i class="fa-solid fa-camera"></i>
						<span>Take a picture</span>
					</button>
	
					<div class="fields">
						<div class="form-field">
							<label for="camera">Camera: </label>
							<input class="form-control" type="number" name="camera" id="camera" value="{{ camera }}" min="0" max="10" step="1">
						</div>
						<small>(Try to change if doesn't work)</small>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="fields">
			<div class="field full-name">
				{% if form.non_field_errors %}
					<div class="alert alert-danger">
						{% for error in form.non_field_errors %}
							{{ error }}
						{% endfor %}
					</div>
				{% endif %}

				<label for="">Full Name:</label>
				
				<div class="fields">
					<div class="form-field">
						<label for="{{ form.f_name.id_for_label }}">First name</label>

						{% if form.f_name.errors %}
							<div class="alert alert-danger">
								{% for error in form.f_name.errors %}
									{{ error }}
								{% endfor %}
							</div>
						{% endif %}

						{{ form.f_name }}
					</div>

					<div class="form-field">
						<label for="{{ form.m_name.id_for_label }}">Middle name</label>

						{% if form.m_name.errors %}
							<div class="alert alert-danger">
								{% for error in form.m_name.errors %}
									{{ error }}
								{% endfor %}
							</div>
						{% endif %}
						
						{{ form.m_name }}
					</div>

					<div class="form-field">
						<label for="{{ form.l_name.id_for_label }}">Last name</label>

						{% if form.l_name.errors %}
							<div class="alert alert-danger">
								{% for error in form.l_name.errors %}
									{{ error }}
								{% endfor %}
							</div>
						{% endif %}
						
						{{ form.l_name }}
					</div>

					<div class="form-field">
						<label for="{{ form.suffix.id_for_label }}">Suffix</label>

						{% if form.suffix.errors %}
							<div class="alert alert-danger">
								{% for error in form.suffix.errors %}
									{{ error }}
								{% endfor %}
							</div>
						{% endif %}
						
						{{ form.suffix }}
					</div>
				</div>
			</div>

			<hr>

			<div class="form-field">
				{{ form.age.label_tag }}

				{% if form.age.errors %}
					<div class="alert alert-danger">
						{% for error in form.age.errors %}
							{{ error }}
						{% endfor %}
					</div>
				{% endif %}

				{{ form.age }}
			</div>

			<div class="form-field">
				{{ form.address.label_tag }}

				{% if form.address.errors %}
					<div class="alert alert-danger">
						{% for error in form.address.errors %}
							{{ error }}
						{% endfor %}
					</div>
				{% endif %}

				{{ form.address }}
			</div>

			<div class="form-field">
				{{ form.civil_status.label_tag }}

				{% if form.civil_status.errors %}
					<div class="alert alert-danger">
						{% for error in form.civil_status.errors %}
							{{ error }}
						{% endfor %}
					</div>
				{% endif %}

				{{ form.civil_status }}
			</div>

			<div class="form-field">
				{{ form.date_profiled.label_tag }}

				{% if form.date_profiled.errors %}
					<div class="alert alert-danger">
						{% for error in form.date_profiled.errors %}
							{{ error }}
						{% endfor %}
					</div>
				{% endif %}

				{{ form.date_profiled }}
			</div>

			{% if p_type == 'personnel' %}
				<div class="form-field">
					{{ form.rank.label_tag }}

					{% if form.rank.errors %}
						<div class="alert alert-danger">
							{% for error in form.rank.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					{{ form.rank }}
				</div>

				<div class="form-field">
					{{ form.date_assigned.label_tag }}

					{% if form.date_assigned.errors %}
						<div class="alert alert-danger">
							{% for error in form.date_assigned.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					{{ form.date_assigned }}
				</div>

				<div class="form-field">
					{{ form.date_relieved.label_tag }}

					{% if form.date_relieved.errors %}
						<div class="alert alert-danger">
							{% for error in form.date_relieved.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					{{ form.date_relieved }}
				</div>

				<div class="form-field">
					{{ form.designation.label_tag }}

					{% if form.designation.errors %}
						<div class="alert alert-danger">
							{% for error in form.designation.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					{{ form.designation }}
				</div>
			{% else %}

				<div class="form-field">
					{{ form.date_arrested.label_tag }}

					{% if form.date_arrested.errors %}
						<div class="alert alert-danger">
							{% for error in form.date_arrested.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					{{ form.date_arrested }}
				</div>

				<div class="form-field">
					{{ form.date_committed.label_tag }}

					{% if form.date_committed.errors %}
						<div class="alert alert-danger">
							{% for error in form.date_committed.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					{{ form.date_committed }}
				</div>

				<div class="form-field">
					{{ form.crime_violated.label_tag }}

					{% if form.crime_violated.errors %}
						<div class="alert alert-danger">
							{% for error in form.crime_violated.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					{{ form.crime_violated }}
				</div>
			{% endif %}
		</div>
	</div>
</form>

<script>
	// document.addEventListener("DOMContentLoaded", function() {
	// 	// Get the file input element from the form
	// 	const fileInput = document.getElementById("raw_image"); // Use the form field's ID
	// 	const imagePreview = document.getElementById("imagePreview");

	// 	fileInput.addEventListener("change", function(event) {
	// 		// Check if a file is selected
	// 		if (fileInput.files && fileInput.files[0]) {
	// 			const reader = new FileReader();

	// 			reader.onload = function(e) {
	// 				imagePreview.src = e.target.result; // Set preview image source
	// 				imagePreview.style.display = 'block'; // Make the image visible
	// 			};

	// 			reader.readAsDataURL(fileInput.files[0]); // Read the image file as a data URL
	// 		}
	// 	});
	// });
</script>
{% endblock content %}