{% extends 'app/base_headered.html' %}
{% load custom_filters %}

{% block content %}

	<div class="profile">
		<div class="header bg-gradient-{{ profile.p_type }}">
			<a class="btn" href="javascript:history.go(-1)">
				<i class="fa-solid fa-caret-left"></i>
				<span>Back</span>
			</a>

			<h2 class="title">{{ profile }}</h2>
			
			<div class="actions">
				<a class="btn" href="{% url 'profile-update' profile.p_type profile.pk %}?next={{ request.path }}&prev={{ prev }}" title="Edit {{ profile }}">
					{% if defset.show_icons == "show" %}
						<i class="fa-solid fa-pen-to-square"></i> 
					{% endif %}
					<span>Edit</span>
				</a>
			
				{% if profile.is_archived %}
					<a class="btn" href="{% url 'archive-remove' profile.p_type profile.pk %}" title="Unarchive {{ profile }}">
						{% if defset.show_icons == "show" %}
							<span class="material-symbols-rounded">unarchive</span> 
						{% endif %}
						<span>Unarchive</span>
					</a>
				{% else %}
					<a class="btn" href="{% url 'archive-add' profile.p_type profile.pk %}" title="Archive {{ profile }}">
						{% if defset.show_icons == "show" %}
							<span class="material-symbols-rounded">archive</span> 
						{% endif %}
						<span>Archive</span>
					</a>
				{% endif %}
				
				<div class="dropdown">
					<button class="btn">
						{% if defset.show_icons == "show" %}
							<i class="fa-solid fa-download"></i> 
						{% endif %}
						<span>Download</span>	
					</button>

					<div class="content">
						<a class="btn" href="{% url 'profile-download' profile.p_type profile.pk 'docx' %}" title="Download {{ profile }} as .docx">
							{% if defset.show_icons == "show" %}
								<i class="fa-solid fa-file-word"></i> 
							{% endif %}
							<span>as .docx</span>
						</a>
						<a class="btn" href="{% url 'profile-download' profile.p_type profile.pk 'pdf' %}" title="Download {{ profile }} as .pdf">
							{% if defset.show_icons == "show" %}
								<i class="fa-solid fa-file-pdf"></i> 
							{% endif %}
							<span>as .pdf</span>
						</a>
					</div>
				</div>
				<a class="btn btn-danger" href="{% url 'profile-delete' profile.p_type profile.pk %}?prev={{ prev }}" title="Delete {{ profile }}">
					{% if defset.show_icons == "show" %}
						<i class="fa-solid fa-trash"></i> 
					{% endif %}
					Delete
				</a>
			</div>
		</div>

		{% if messages %}
			<div class="messages-list">
				{% for message in messages %}
					<div class="message message-{{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
			</div>
		{% endif %}

		<div class="body">
			<div class="picture">
				<img src="{{ profile.thumbnail.url }}" alt="">
			</div>

			<hr>

			<div class="fields">
				<div class="field full-name">
					<label for="">Full Name:</label>

					<div class="fields">
						<div class="form-field">
							<label for="">First name</label>
							<input class="form-control" type="text" value="{{ profile.f_name|title }}" placeholder="N/A" disabled>
						</div>
						<div class="form-field">
							<label for="">Middle name</label>
							<input class="form-control" type="text" value="{{ profile.m_name|title }}" placeholder="N/A" disabled>
						</div>
						<div class="form-field">
							<label for="">Last name</label>
							<input class="form-control" type="text" value="{{ profile.l_name|title }}" placeholder="N/A" disabled>
						</div>
						<div class="form-field">
							<label for="">Suffix</label>
							<input class="form-control" type="text" value="{{ profile.suffix|title }}" placeholder="N/A" disabled>
						</div>
					</div>
				</div> <!-- full name  -->

				<hr>

				<div class="form-field">
					<label for="">Age:</label>
					<input class="form-control" type="number" value="{{ profile.age}}" placeholder="N/A" disabled>
				</div>

				<div class="form-field">
					<label for="">Address:</label>
					<input class="form-control" type="text" value="{{ profile.address|title }}" placeholder="N/A" disabled>
				</div>

				<div class="form-field">
					<label for="">Civil status:</label>
					<input class="form-control" type="text" value="{{ profile.civil_status|title }}" placeholder="N/A" disabled>
				</div>

				<div class="form-field">
					<label for="">Date profiled:</label>
					<input class="form-control" type="text" value="{{ profile.date_profiled }}" placeholder="N/A" disabled>
				</div>

				{% if profile.p_type == 'personnel' %}
					<div class="form-field">
						<label for="">Rank:</label>
						<input class="form-control" type="text" value="{{ profile.rank }}" placeholder="N/A" disabled>
					</div>
					<div class="form-field">
						<label for="">Date assigned:</label>
						<input class="form-control" type="text" value="{{ profile.date_assigned }}" placeholder="N/A" disabled>
					</div>
					<div class="form-field">
						<label for="">Date relieved:</label>
						<input class="form-control" type="text" value="{{ profile.date_relieved }}" placeholder="N/A" disabled>
					</div>
					<div class="form-field">
						<label for="">Designation:</label>
						<input class="form-control" type="text" value="{{ profile.designation|title }}" placeholder="N/A" disabled>
					</div>
				{% else %}
					<div class="form-field">
						<label for="">Date arrested:</label>
						<input class="form-control" type="text" value="{{ profile.date_arrested }}" placeholder="N/A" disabled>
					</div>
					<div class="form-field">
						<label for="">Date committed:</label>
						<input class="form-control" type="text" value="{{ profile.date_committed }}" placeholder="N/A" disabled>
					</div>
					<div class="form-field">
						<label for="">Crime violated:</label>
						<input class="form-control" type="text" value="{{ profile.crime_violated }}" placeholder="N/A" disabled>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}