{% extends 'home/base.html' %}
{% load custom_filters %}

{% block content %}
	<div class="profile">
		<div class="header">
			<div class="title">
				<a class="btn" href="javascript:history.go(-1)">
					<span class="material-symbols-outlined">arrow_back_ios</span>
					<span>Back</span>
				</a>

				<h2>{{ profile.f_name }}'s Profile</h2>
			</div>

			<div class="actions">
				<a class="btn" href="{% url 'profile-inmate-update' profile.pk %}?prev={{request.path}}">
					<span class="material-symbols-outlined">edit</span>
					<span>Edit Profile</span>
				</a>

				{% if profile.archiveinmate %}
					<a class="btn" href="{% url 'archive-inmate-remove' profile.archiveinmate.pk %}?prev={{request.path}}">
						<span class="material-symbols-outlined">unarchive</span>
						<span>Unarchive</span>
					</a>
				{% else %}
					<a class="btn" href="{% url 'archive-inmate-add' profile.pk %}?prev={{request.path}}">
						<span class="material-symbols-outlined">archive</span>
						<span>Add to archive</span>
					</a>
				{% endif %}

				
				<div class="dropdown">
					<button class="btn"><span class="material-symbols-outlined">more_vert</span></button>

					<div class="content">
						<a class="btn" href="{% url 'profile-inmate-to-docx' profile.pk %}">
							<span class="material-symbols-outlined">file_export</span>
							<span>Export as .docx</span>
						</a>
						<a class="btn" href="{% url 'profile-inmate-delete' profile.pk %}">
							<span class="material-symbols-outlined">delete</span>
							<span>Delete</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="info">
			<div class="picture">
				<img src="{{ profile.thumbnail.url }}" alt="thumbnail">
			</div>
			
			<div class="details">
				<div>p_type: {{ profile.p_type}}</div>
				<div>Name: {{ profile|full_name}}</div>
				<div>Age: {{ profile.age}}</div>
				<div>Address: {{ profile.address}} </div>
				<div>Civil Status: {{ profile.civil_status}}</div>
				<div>Date Last Edited: {{ profile.f_name}}</div>
				<div>Date Profiled: {{ profile.date_profiled}}</div>
				<div>Date Arrested: {{ profile.date_arrested }}</div>
				<div>Date Arrested: {{ profile.date_committed }}</div>
				<div>Date assigned: {{ inmate.crime_violated }}</div>
			</div>
		</div>
	</div>
{% endblock content %}