{% extends 'home/base.html' %}

{% block content %}
	<div class="profile">
		<div class="header">
			<div class="title">
				<a class="btn" href="javascript:history.go(-1)">
					<span class="material-symbols-outlined">arrow_back_ios</span>
					<span>Back</span>
				</a>
				<h2>Updating {{ profile.f_name }}'s Profile</h2>
			</div>
		</div>

		<div class="info">
			<div class="picture">
				<img src="{{ profile.thumbnail.url }}" alt="">
			</div>
			
			<div class="details">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}

					<fieldset>
						{{ form }}
					</fieldset>

					<div class="actions">
						<button class="btn" type="submit">
							<span class="material-symbols-outlined">save</span>
							<span>Save changes</span>
						</button>

						<a class="btn" href="javascript:history.go(-1)">
							<span class="material-symbols-outlined">cancel</span>
							<span>Cancel</span>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}