{% extends 'home/base.html' %}
{% load custom_filters %}

{% block content %}

	<div class="profile">
		<div class=" {{ profile.p_type }}  header">
			<a class="btn btn-outline-light" href="javascript:history.go(-1)">
				<span class="material-symbols-outlined">arrow_back_ios</span>
				<span>Back</span>
			</a>

			<h2 class="title">{{ profile.f_name }}'s Profile</h2>
			
			<div class="buttons">
				<a class="btn btn-light-outline-{{ profile.p_type }}" href="{% url 'profile-update' profile.p_type profile.pk %}?prev={{request.path}}">
					<span class="material-symbols-outlined">edit</span>
					<span>Edit Profile</span>
				</a>
			
				{% if profile.archivepersonnel %}
					<a class="btn btn-outline-light" href="{% url 'archive-remove' profile.p_type profile.archivepersonnel.pk %}?prev={{request.path}}">
						<span class="material-symbols-outlined">unarchive</span>
						<span>Unarchive</span>
					</a>
				{% elif profile.archiveinmate %}
					<a class="btn btn-outline-light" href="{% url 'archive-remove' profile.p_type profile.archiveinmate.pk %}?prev={{request.path}}">
						<span class="material-symbols-outlined">unarchive</span>
						<span>Unarchive</span>
					</a>
				{% else %}
					<a class="btn btn-outline-light" href="{% url 'archive-add' profile.p_type profile.pk %}?prev={{request.path}}">
						<span class="material-symbols-outlined">archive</span>
						<span>Add to archive</span>
					</a>
				{% endif %}
				
				<div class="dropdown">
					<button class="btn btn-outline-light"><span class="material-symbols-outlined">more_vert</span></button>

					<div class="content">
						<a class="btn" href="{% url 'profile-docx-download' profile.p_type profile.pk %}">
							<span class="material-symbols-outlined">download</span>
							<span>Download (.docx)</span>
						</a>
						<a class="btn" href="{% url 'profile-pdf-download' profile.p_type profile.pk %}">
							<span class="material-symbols-outlined">picture_as_pdf</span>
							<span>Download (.pdf)</span>
						</a>
						<a class="btn" href="{% url 'profile-delete' profile.p_type profile.pk %}">
							<span class="material-symbols-outlined">delete</span>
							<span>Delete</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="body">
			<div class="picture">
				<img src="{{ profile.thumbnail.url }}" alt="">
			</div>
			<hr>
			<div class="field-list">
				<div class="field full-name">
					<label for="">Full Name:</label>
					<div class="field-list">
						<div class="field">
							<label for="">First name</label>
							<input class="form-control" type="text" value="{{ profile.f_name|title }}" placeholder="N/A" disabled>
						</div>
						<div class="field">
							<label for="">Middle name</label>
							<input class="form-control" type="text" value="{{ profile.m_name|title }}" placeholder="N/A" disabled>
						</div>
						<div class="field">
							<label for="">Last name</label>
							<input class="form-control" type="text" value="{{ profile.l_name|title }}" placeholder="N/A" disabled>
						</div>
						<div class="field">
							<label for="">Suffix</label>
							<input class="form-control" type="text" value="{{ profile.suffix|title }}" placeholder="N/A" disabled>
						</div>
					</div>
				</div> <!-- full name  -->

				<div class="field">
					<label for="">Age:</label>
					<input class="form-control" type="number" value="{{ profile.age}}" placeholder="N/A" disabled>
				</div>

				<div class="field">
					<label for="">Address:</label>
					<input class="form-control" type="text" value="{{ profile.address|title }}" placeholder="N/A" disabled>
				</div>

				<div class="field field-primary">
					<label for="">Civil status:</label>
					<input class="form-control" type="text" value="{{ profile.civil_status|title }}" placeholder="N/A" disabled>
				</div>

				<div class="field">
					<label for="">Date profiled:</label>
					<input class="form-control" type="text" value="{{ profile.date_profiled }}" placeholder="N/A" disabled>
				</div>

				{% if profile.p_type == 'personnel' %}
					<div class="field">
						<label for="">Rank:</label>
						<input class="form-control" type="text" value="{{ profile.rank|upper }}" placeholder="N/A" disabled>
					</div>
					<div class="field">
						<label for="">Date assigned:</label>
						<input class="form-control" type="text" value="{{ profile.date_assigned }}" placeholder="N/A" disabled>
					</div>
					<div class="field">
						<label for="">Date relieved:</label>
						<input class="form-control" type="text" value="{{ profile.date_relieved }}" placeholder="N/A" disabled>
					</div>
					<div class="field">
						<label for="">Designation:</label>
						<input class="form-control" type="text" value="{{ profile.designation|title }}" placeholder="N/A" disabled>
					</div>
				{% else %}
					<div class="field">
						<label for="">Date arrested:</label>
						<input class="form-control" type="text" value="{{ profile.date_arrested }}" placeholder="N/A" disabled>
					</div>
					<div class="field">
						<label for="">Date committed:</label>
						<input class="form-control" type="text" value="{{ profile.date_committed }}" placeholder="N/A" disabled>
					</div>
					<div class="field">
						<label for="">Crime violated:</label>
						<input class="form-control" type="text" value="{{ profile.crime_violated }}" placeholder="N/A" disabled>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}