@font-face {
    font-family: ProductSans-Black;
    src: url(../static/fonts/ProductSans-Black.ttf);
}
@font-face {
    font-family: ProductSans-Bold;
    src: url(../static/fonts/ProductSans-Bold.ttf);
}
@font-face {
    font-family: ProductSans-Italic;
    src: url(../static/fonts/ProductSans-Italic.ttf);
}
@font-face {
    font-family: ProductSans-Light;
    src: url(../static/fonts/ProductSans-Light.ttf);
}
@font-face {
    font-family: ProductSans-Medium;
    src: url(../static/fonts/ProductSans-Medium.ttf);
}
@font-face {
    font-family: ProductSans-Regular;
    src: url(../static/fonts/ProductSans-Regular.ttf);
}
@font-face {
    font-family: ProductSans-Thin;
    src: url(../static/fonts/ProductSans-Thin.ttf);
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url(../static/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: Poppins-ExtraBold;
    src: url(../static/fonts/Poppins-ExtraBold.ttf);
}





:root {
    --font-bold     : ProductSans-Bold;
    --font-black    : ProductSans-Black;
    --font-italic   : ProductSans-Italic;
    --font-light    : ProductSans-Light;
    --font-medium   : ProductSans-Medium;
    --font-regular  : ProductSans-Regular;
    --font-thin     : ProductSans-Thin;

    --img-size-s    : 100px;
    --img-size-r    : 200px;

    /* --primary       : rgb(0, 123, 255); */
    --primary       : rgb(17, 83, 155);
    --secondary     : rgb(108, 117, 125);
    --success       : rgb(40, 167, 69);
    --danger        : rgb(220, 53, 69);
    --warning       : rgb(255, 193, 7);
    --info          : rgb(23, 162, 184);
    --light         : rgb(248, 249, 250);
    --dark          : rgb(52, 58, 64);
    --muted         : rgb(108, 117, 125);
    /* --inmate        : rgb(237, 135, 0); */

    --transparent-dark      : rgba(0, 0, 0, 0.75);
    --transparent-light     : rgba(248, 249, 250, 0.75);
    --transparent-danger    : rgba(220, 53, 69, 0.75);
    --transparent-primary    : rgba(17, 83, 155, 0.75);
    --transparent-secondary    : rgba(108, 117, 125, 0.75);
    --transparent-inmate    : rgba(211, 112, 46, 0.75);
    
    --white:#FAFAFA;
    --white-1:#F4F4F5;
    --white-2 :#E8EAED;

    --text-white: var(--white);
    --text-white-1:#F4F4F5;
    --text-white-2 :#E8EAED;

    --text-dark :#353848;
    --text-dark-1 :#595B69;
    
    --personnel     : rgb(38, 110, 188);
    --inmate        : rgb(211, 112, 46);
    
    --personnel-gradient    : linear-gradient(to right, rgba(38, 110, 188, 0.75), rgba(255, 255, 255, 0) 100% );
    --inmate-gradient       : linear-gradient(to right, rgba(211, 112, 46, 0.75), rgba(255, 255, 255, 0) 100% );
}





h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-bold);
}





* {
	padding     : 0;
	margin      : 0;
	box-sizing  : border-box;
}



body {
    /* background: #F4F4F5; */
    background: var(--white-1);
    min-height: 100dvh;
    font-family: var(--font-regular);
}



.main {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 200px calc(100dvw - 200px);
}



header {
    background: var(--white-2);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    overflow: auto;

    /* outline: 1px solid red; */
}
header > .section {
    padding: 1em 1em 1.5em 1em;
    /* outline: 1px solid green;s */
    display: grid;
    row-gap: 0.5em;
}
header h4 {
    color: var(--muted);
}



.nav {
    display: grid;
    gap: 1em;
}
.nav > .section{
    display: grid;
    row-gap: 0.125em;
}



.btn {
    color: var(--text-dark-1);
    padding: 0.5em 0.75em;
    margin: 0;
    cursor: pointer;
    font-family: var(--font-regular);
    text-decoration: none;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 0.5em;
    background: none;
    border-radius: 10px;
    transition: all 0.2s;
    border: none;
    border-left: 0px solid var(--secondary);
    outline: 1px solid rgba(255, 255, 255, 0);
    font-size: 1em;
    /* outline: 1px solid red; */
    font-family: var(--font-bold);

    i, .material-symbols-rounded {
        text-align: center;
        width: 20px;
        overflow: hidden;
    }
    .material-symbols-rounded{
        padding: 0;
        margin: 0;
        font-size: 1.3em;
    }
}
header .btn {
    font-family: var(--font-regular);
    width: 100%;
}
header .btn:hover, header .btn:focus {
    border-left: 5px solid var(--secondary);
    background: var(--white-1);
}
header .active {
    border-left: 5px solid var(--primary);
    background: var(--white);
    font-family: var(--font-bold);
    color: var(--primary);
}
.btn-secondary {
    background: var(--secondary);
    color: var(--text-white);
}
.btn-danger {
    background: var(--danger);
    color: var(--text-white);
}
.btn-empty-personnel {
    color: var(--personnel);
}
.btn-empty-personnel:hover, .btn-empty-personnel:focus {
    outline: 1px solid var(--personnel);
}
.btn-empty-inmate {
    color: var(--inmate);
}
.btn-empty-inmate:hover, .btn-empty-inmate:focus  {
    outline: 1px solid var(--inmate);
}


.facesearch {
    color: var(--primary);
}



.right {
    display: grid;
}



.index {
    padding: 1em;
    display: grid;
    row-gap: 1em;
}
.new-profiles {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
}
.card-list-new {
    /* border: 1px solid green; */
    padding: 1.5em;
    border-radius: 10px;
    display: grid;
    align-content: start;
    background: var(--white);
    row-gap: 1em;
    
    .header {
        display: flex;
        justify-content: space-between;

        .title {
            color: var(--muted);
            font-family: var(--font-thin);
            letter-spacing: 0.25em;
        }
    }

    .card-new {
        border-radius: 15px;
        padding: 1em;
        background: var(--white-1);
        display: grid;
        grid-template-columns: var(--img-size-s) auto;
        gap: 1em;
        text-decoration: none;
        /* border: 1px solid red; */
        
        .picture {
            /* border: 1px solid red; */
            height: var(--img-size-s);
            width: var(--img-size-s);
            overflow: hidden;
            border-radius: 10px;
            display: block;
            
            img {
                height: inherit;
                width: inherit;
                object-fit: cover;
            }
        }
        

        .details {
            display: grid;
            row-gap: 0.125em;

            .detail {
                color: var(--muted);
                font-size: 0.9em;
                gap: 0.25em;
                overflow: hidden;
                text-overflow: ellipsis;
                text-wrap: nowrap;

                i {
                    text-align: center;
                    width: 20px;
                }

            }
            .detail.name {
                font-size: 1.1em;
                font-family: var(--font-bold);
                color: var(--text-dark);

                i {
                    text-align: center;
                    width: 25px;
                }
            }
        }
    }

    .card-new.personnel {
        background: var(--personnel-gradient);
        background-size: 2% 100%;
        background-repeat: no-repeat;
        transition: all 0.3s ease-in-out;
        transform-origin: left;
    }
    .card-new.inmate {
        background: var(--inmate-gradient);
        background-size: 2% 100%;
        background-repeat: no-repeat;
        transition: all 0.3s ease-in-out;
        transform-origin: left;
    }
    .card-new:hover {
        background-size: 25% 100%;
        color: var(--text-white);
    }
}



.title {
    text-decoration: none;
    display: flex;
    gap: 0.125em;
    align-items: center;

    span {
        font-family: var(--font-black);
        font-size: 1.125em;
        color: var(--primary);
    }
    
    img {
        height: 2em;
    }
}



.muted {
    color: var(--muted);
}

.text-inmate {
    color: var(--inmate);
}
.text-personnel {
    color: var(--personnel);
}
.bg-gradient-personnel {
    background: var(--personnel-gradient);
}
.bg-gradient-inmate {
    background: var(--inmate-gradient);
}



.profile {
    /* border: 1px solid red; */

    .header {
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 2em;
        color: var(--text-white);

        .actions {
            background: var(--white);
            padding: 0 1em;
            border-radius: 10px;
            display: flex;
            gap: 0.25em;
            align-items: center;
        }

        > .btn {
        color: var(--text-white);
        /* border: 1px solid red; */
        }
    }

    .body {
        display: flex;
        /* border: 1px solid red; */
        gap: 1em;
        padding: 2em;
        margin: 1em 2em 2em 2em;
        border-radius: 10px;
        background: var(--white);

        .picture {
            width: var(--img-size-r);
            height: var(--img-size-r);
            border-radius: 10px;

            img {
                width: inherit;
                height: inherit;
                object-fit: contain;
            }

            .image-fields {
                padding: 0.125em;
                display: grid;
                overflow: hidden;
                row-gap: 0.5em;

                .field {
                    width: 100%;
                    display: grid;
                    row-gap: 0.25em;

                    .form-control {
                        width: 100%;
                    }

                    .fields .form-field {
                        display: flex;
                        align-items: center;
                        gap: 0.25em;

                        label {
                            width: fit-content;
                        }
                    }
                }
            }
        }

        > .fields {
            width: 100%;
            /* border: 1px solid red; */
            display: grid;
            row-gap: 0.75em;

            .form-control {
                /* border: 1px solid green; */
                width: 100%;
            }
        }

        .full-name {
            display: grid;
            row-gap: 0.5em;

            > .fields {
                display: grid;
                grid-template-columns: 24% 24% 24% 24%;
                justify-content: space-between;

                .form-field {
                    display: grid;
                    row-gap: 0.25em;
                }
            } 
        }
 
    }
}



.form-field {
    display: flex;
    label {
        width: 10em;
    }
}
.form-control {
    border: none;
    outline: 1px solid var(--dark);
    padding: 0.5em 1em;
    border-radius: 5px;
}



.dropdown{
    width: fit-content;
    background: var(--white);
    background: none;
    z-index: 80;

    button {
        width: 100%;
        display: flex;
        gap: 0.5em;
        align-items: center;
    }

    .content {
        display: none;
        position: absolute;
        background: var(--white);
        width: inherit;
        box-shadow: 2px 2px 5px 2px var(--shadow);
        transition: visibility ease-in-out 0.1s;

        .btn {
            border: none;
            background: var(--white);
            border-radius: 0;
        }

        .btn:hover {
            filter: brightness(90%);
        }
    }
}
.dropdown:hover {
    .content {
        display: grid;
    }
}




.messages {
    display: grid;
    row-gap: 0.5em;
}
.alert, .message {
    border-radius: 10px;
    padding: 0.5em 1em;
    display: flex;
    font-family: var(--font-bold);
    background: none;
    color: var(--text-dark);
}
.alert-danger {
    background: var(--danger);
    color: var(--text-white);
}
.message-success {
    background: var(--success);
    color: var(--text-white);
}
.message-error {
    background: var(--danger);
    color: var(--text-white);
}

/* 




header {
    background: var(--primary);
    box-shadow      : 2px 2px 5px 2px var(--shadow);
    justify-content : space-between;
    align-items     : center;
    padding         : 0.5em 10dvw;
    display         : flex;
    flex-wrap: wrap;
    min-height          : 3em;
    position: sticky;
    top:0;
    z-index: 99;

    nav {
        display     : flex;
        align-items : center;
        gap         : 0.5em;
        background: none;


        
        a {
            display: flex;
            align-items: center;
        }
    }
} 




main {
    min-height  : calc(100dvh - 3em);
    padding     : 1% 10dvw;
    margin: 0 0 20dvh 0;
}



.filter-bar {
    display         : flex;
    flex-wrap       : wrap;
    align-items     : center;
    justify-content : space-between;
    border-radius   : var(--radius-small);
    margin          : 1em 0;
    box-shadow      : 1px 1px 5px 1px var(--shadow);
    padding         : 0.5em 1em;

    input[type="search"] {
        width: 125px;
    }

    .filter-form {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        align-items: center;
    }

    .actions {
        display: flex;
        gap: 0.5em;
    }
}
.search-form {
    display         : flex;
    align-items     : center;
    border-radius   : var(--radius-small);
    outline         : 1px solid var(--secondary);
    padding         : 0 0.5em 0 1em;
    width           : fit-content;
    background      : var(--light);

    input[type="search"] {
        outline: none;
        padding: 0;
        border: none;
    }

    .actions {
        gap: 0;
    }
} 





footer {
    background: var(--dark);
    padding : 15dvh 10dvh 1em 10dvh;
    height: calc(100dvh - 3em);
    box-shadow: -2px -2px 10px 5px var(--shadow);
    
    * {
        color: var(--light);
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        
        .header {
            display: flex;
            gap: 0.5em;
            img {
                height: 75px;
                width:  75px;
            }       

            .title {
                display: grid;
                row-gap: 0.5em;
                align-content: center;


                h3 { 
                    color: var(--text-placeholder-disabled);
                }
            }
        }

        .body {
            flex: 1;
            display: flex;
            justify-content: space-around;
            min-height: 30dvh;
            padding: 2em 1em 0 1em;


            [class*="section-"] {

                .contact-list {
                    margin: 0.5em 0;
                    display: flex;
                    flex-direction: column;
                    gap: 0.25em;

                    .contact {
                        color: var(--text-placeholder-disabled);

                    }
                }
            }
        }

        .footer {
            display: flex;
            justify-content: space-between;

            .link-list {
                display: flex;
                gap: 0.5em;

               .link {
                    color: var(--light);
                    filter: brightness(75%);
                } 

               .link:hover {
                filter: brightness(100%);
               }
            }
        }
    }
}





.muted {
    color: var(--text-disabled);
}
.text-white {
    color: var(--light);
}
.inmate {
    background: var(--inmate) !important;
}
.personnel {
    background: var(--personnel) !important;
}
.danger {
    background: var(--danger) !important;
}
.title {
    font-family: var(--font-bold);
    color: var(--light);
    display: flex;
    align-items: center;
    gap: 0.5em;
    img {
        height: 2em;
    }
}
.link {
    color: var(--primary);
    font-size: 1em;
}
.vertical {
    display: grid !important;
}
.right {
    text-align: right !important;
    justify-content: right !important;
}
.center {
    text-align: center !important;
    justify-content: center !important;
}
.border-danger {
    outline: 1px solid var(--danger);
    border-radius: var(--radius-small);
}
.alert {
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background: none;
    border-radius: var(--radius-medium) var(--radius-medium) 0 0; 
}
.alert-danger {
    color: var(--light);
    background: var(--danger);
}



.new_profiles {
    display                 : grid;
    grid-template-columns   : 48% 48%;
    justify-content         : space-between;
    margin: 0 0 2em 0;

    .card-list-new {
        display: flex;
        flex-direction: column;
        gap: 1em;
    
        .card-new {
            box-shadow: 2px 2px 5px 1px var(--shadow);
            background: var(--white);
            border-radius: var(--font-medium);
            overflow: hidden;
    
            .header {
                display: flex;
                justify-content: space-between;
                padding: 0.5em 1em;
                height: fit-content;
    
                .title {
                    display: flex;
                    align-items: center;
                    gap: 0.25em;
                    color: var(--light);
                }
    
                .buttons {
                    display: flex;
                    gap: 0.5em;
                    align-items: center;
                }
            }
    
            .body {
                display: flex;
                gap: 1em;
    
                .picture {
                    height: var(--img-size-s);
    
                    img {
                        width: var(--img-size-s);
                        height: var(--img-size-s);
                    }
                }
    
                .details {
                        padding: 1em 0;
    
                    .name {
                        font-family: var(--font-bold);
                    }
                }
            }
        }
    }
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    margin: 0 0 2em 0;
        
    .card {
        width: calc(var(--img-size-s) * 1.25);
        box-shadow: 1px 1px 5px 1px var(--shadow);
        transition: all ease-in-out 0.2s;
        border-radius: var(--radius-medium);
        background: var(--light);
        overflow: hidden;

        .header {
            padding: 0.5em 1em;

            .title {
                font-family: var(--font-bold);
                color: var(--light);
            }
        }

        .picture {
            width: inherit;

            img {
                transition: all ease-in-out 0.2s;
                height: var(--img-size-s);
                width: inherit;
                object-fit: cover;
            }
            
            .button-overlay {
                transition: all ease-in-out 0.2s;
                width: inherit;
                height: inherit;
                border-radius: var(--radius-medium);
                padding: 1em;
                gap: 0.5em;
                position: absolute;
                display: grid;
                opacity: 0;
            }
        }

        .details {
            padding: 0.5em 1em 1em 1em;

            .name {
                font-family: var(--font-bold);
                font-size: 1em;
            }
            
            .detail {
                overflow: hidden;
                text-overflow: ellipsis;
                text-wrap: nowrap;
                }
        }
    }
    .card:hover {
        .button-overlay {
            opacity: 100%;
            background: rgba(0,0,0,0.75);
            z-index: 1;
        }
    }
}





.facesearch {
    display     : flex;
    gap         : 1.5em;
    margin      : 1% 0;
    min-height  : calc(100dvh - 3em);
    width       : 100%;

    .card-list {
        gap: 1em;
        .card {
            height: fit-content;
        }
    }

}

.forms {
    box-shadow  : 2px 2px 5px 2px var(--shadow);
    outline     : 1px solid var(--secondary);
    border-radius: var(--radius-medium);
    top         : calc(4em + 1.60%);
    padding     : 1em 1em 2em 1em;
    background  : var(--light);
    height      : fit-content;
    position    : sticky;
    display     : grid;
    row-gap     : 1.25em;
}
.form {
    display : grid;
    row-gap : 0.25em;
    width   : 225px;

    .fields {
        display: grid;
        gap: 0.75em;

        input {
            width: 100%;
        }
    }
}




.btn {
    border          : none;
    outline         : none;
    background      : none;
    text-decoration : none;
    padding         : 0.25em 0.75em;
    cursor          : pointer;
    display         : flex;
    align-items     : center;
    gap             : 0.25em;
    border-radius   : var(--radius-small);
    height          : 2.5em;
    font-size       : var(--font-small);
    font-family     : var(--font-bold);

    * {
        font-family     : var(--font-bold);
    }

    transition: all ease-in-out 0.2s;
}
.btn-a {
    width: 30%;
}
.btn-b {
    width: 100%;
}

.btn-primary {
    background: var(--primary);
    color: var(--light);
    
    * {
        color: var(--light);
     }
}
.btn-secondary {
    background: var(--secondary);
    color: var(--light);
    
    * {
        color: var(--light);
     }
}
.btn-light {
    background: var(--light);
    color: var(--dark);
    
    * {
        color: var(--dark);
     }
}
.btn-success {
    background: var(--success);
    color: var(--light);
    
    * {
        color: var(--light);
     }
}
.btn-danger {
    background: var(--danger) !important;
    color: var(--light);
    
    * {
        color: var(--light);
     }
}
.btn-info {
    background: var(--info);
    color: var(--light);
    
    * {
        color: var(--light);
     }
}
.btn-dark {
    background: var(--dark);
    color: var(--light);
    
    * {
        color: var(--light);
     }
}
.btn-warning {
    background: var(--warning);
    color: var(--light);
    
    * {
        color: var(--light);
     }
}
.btn-inmate {
    background: var(--inmate);
    color: var(--light);
    
    * {
        color: var(--light);
     }
}
.btn-personnel {
    background: var(--personnel);
    color: var(--light);
    
    * {
        color: var(--light);
     }
}
.btn-outline-primary {
    outline: 1px solid var(--primary);
    color: var(--primary);
    
    * {
        color: var(--primary);
     }
}
.btn-outline-light {
    outline: 1px solid var(--light);
    color: var(--light);
    
    * {
        color: var(--light);
     }
}
.btn-outline-inmate {
    outline: 1px solid var(--inmate);
    color: var(--inmate);
    
    * {
        color: var(--inmate);
     }
}
.btn-light-outline-inmate {
    background: var(--light);
    outline: 1px solid var(--inmate);
    color: var(--inmate);
    
    * {
        color: var(--inmate);
     }
}
.btn-outline-personnel {
    outline: 1px solid var(--personnel);
    color: var(--personnel);
    
    * {
        color: var(--personnel);
     }
}
.btn-light-outline-personnel {
    background: var(--light);
    outline: 1px solid var(--personnel);
    color: var(--personnel);
    
    * {
        color: var(--personnel);
     }
}
.btn-outline-secondary {
    outline: 1px solid var(--secondary);
    color: var(--dark);
    
    * {
        color: var(--dark);
     }
}
.btn-transparent-dark {
    background: var(--transparent-dark );
    color: var(--white);
    
    * {
        color: var(--white);
     }
}
.btn-transparent-inmate {
    background: var(--transparent-inmate );
    color: var(--white);
    
    * {
        color: var(--white);
     }
}
.btn-transparent-danger {
    background: var(--transparent-danger );
    color: var(--white);
    
    * {
        color: var(--white);
     }
}
.btn-transparent-primary {
    background: var(--transparent-primary );
    color: var(--white);
    
    * {
        color: var(--white);
     }
}
.btn-transparent-secondary {
    background: var(--transparent-secondary );
    color: var(--white);
    
    * {
        color: var(--white);
     }
}
.btn:hover, .btn:active {
    filter: brightness(125%);
}
.btn:focus{
    filter: brightness(90%);
}
[class*="btn-outline"]:hover,
[class*="btn-outline"]:active {
    background: var(--light);
    color: var(--dark);
    
    * {
        color: var(--dark);
     }
}
[class*="btn-outline"]:focus {
    filter: brightness(90%);
}
[class*="btn-transparent"]:hover,
[class*="btn-transparent"]:active {
    filter: brightness(125%) saturate(200%);
}
[class*="btn-transparent"]:focus {
    filter: brightness(90%);
}
.btn:disabled {
    filter: saturate(75%) brightness(75%);
    cursor: not-allowed;
    transition: none;
    border: none;
    outline: none;
    background: var(--transparent-light);
    color: var(--text-placeholder-disabled);
}






.form-control, .django_password_eye {
    border          : none;
    outline         : none;
    background      : var(--white);
    padding         : 0.25em 0.75em;
    height          : 2.5em;
    gap             : 0.25em;
    border-radius   : var(--radius-small);
    font-size       : var(--font-small);
}



.form-control-secondary {
    outline         : 1px solid var(--secondary);
    color           : var(--secondary);
}
.form-control-secondary:focus, 
.form-control-secondary:active, 
.field-secondary:hover {
    outline         : 2px solid var(--secondary);
}



.form-control-primary, .django_password_eye {
    outline         : 1px solid var(--primary);
    color           : var(--primary);
}
.form-control-primary:focus,
.form-control-primary:active, 
.django_password_eye:has(input:active),
.django_password_eye:has(input:focus),
.field-primary:hover {
    outline         : 2px solid var(--primary);
}



.form-control:disabled {
    background  : var(--disabled);
    outline     : 1px solid var(--text-disabled);
    cursor      : not-allowed;
    color       : var(--text-disabled);
}



.form-control::placeholder {
    color       : var(--text-placeholder-disabled);
}



.active {
    filter: brightness(120%);
}
.active-dropdown {
    filter: brightness(70%);
}

.django_password_eye {
    display: flex;
    padding         : 0.25em 0.75em;

    input {
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }

    .input-group-addon, .form-control, .link {
        padding: 0;
        margin: 0;
        align-self: center;
        height: fit-content;
        background: none;
        border: none;
    }

    .link {
        margin-right: 0.5em;
    }
} 








.profile {
    border-radius: var(--radius-small);
    overflow: hidden;
    border: 1px solid var(--disabled);
    box-shadow: 2px 2px 5px 2px var(--shadow);
    margin: 0 0 2em 0;

    .header {
        color: var(--light);
        padding: 0.5em 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            color: var(--light);
        }

        .buttons {
            display: flex;
            gap: 0.5em;
        }
    }

    .body {
        padding: 1em 2em 2em 2em;
        background: var(--light);
        display: flex;
        overflow-x: auto;
        gap: 2em;

        .picture {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            width: calc( --img-size-s + (0.25em*2));
            padding: 0 0.25em;

            img {
                object-fit: cover;
                width: 250px;
                background: var(--light);
                height: 250px;
            }

            input {
                width: 100%;
            }
        }

        .field-list {
            display: grid;
            row-gap: 0.75em;

            .field {
                padding: 0 0.5em;
                display: flex;
                align-items: center;

                label {
                    width: 150px;
                }

                input, select {
                    width: 300px;
                }
            }
            
            .field.full-name {
                outline: 1px solid var(--primary);
                padding: 0.75em 0.5em;
                display: grid;
                border-radius: var(--radius-small);
                row-gap: 0.5em;
                background: var(--light);

                .field-list {
                    display: flex;
                    align-items: end;
                    gap: 0.5em;

                    .field {
                        display: grid;
                        row-gap: 0.25em;
        
                        label {
                            width: 100%;
                        }
                        input, select {
                            width: 100%;
                        }
                    }

                } 

            } 

        } 

    } 
} 






.body.settings {
    display: grid;
    gap: 0.25em;
    padding: 0em 1em 2em 1em;
    .settings-section {
        border-bottom: 1px solid var(--secondary);
        
        .settings-header {
            padding: 0.5em 0.25em 0 0.25em;

            p {
                display: block;
                padding: 0.5em 1em;
            }
        }
        
        .settings-block {
            padding: 0 2em;
            display: grid;
    
            .settings-item {
                padding: 0.5em 0;
                display: flex;
                align-content: center;
                gap: 1em;
                
                span {
                    width: 100%;
                }

                * {
                    align-self: center;
                }
        
                .form-control {
                    height: 2em;
                    margin: 0;
                    max-width: 200px;
                    min-width: 200px;
                }
            
                label {
                    font-size: 1em;
                    min-width: 175px;
                    text-wrap: nowrap;
                }
            
            }
        }
    }
}


























.dialog-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15dvh;
}
.dialog {
    background: var(--light);
    overflow: hidden;
    box-shadow: 2px 3px 10px 5px var(--shadow);
    width: 400px;
    border-radius: var(--radius-medium);

    .header {
        padding: 1em 2em;
        background: var(--dark);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            * {
                color: var(--light);
            }
        }
    }

    .body {
        padding: 1em 2em;
        display: grid;
        row-gap: 1em;

        .actions {
            display: flex;
            gap: 1em;
        }

        form {
            display: grid;
            row-gap: 1em;

            .fields {
                display: grid;
                row-gap: 0.75em;

                .field {
                    display: grid;
                    row-gap: 0.25em;
                }
            }
            
        }
    }
}


.pagination {
    display: flex;
    margin: 1em 0;

    .page-list {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
}
.pagination.left {
    justify-content: start;
}
.pagination.right {
    justify-content: end;
} 



*/
