{% extends 'user/base.html' %}

{% block content %}
	<div class="dialog-wrapper">
        <div class="dialog">
            <div class="header">
				<div class="title">
                    <h3>Welcome to OPERATE!</h3>
                </div>
            </div>
    
            <div class="body">
				<div class="description">
					<h2>Password Reset Complete</h2>
				</div>
    
				<div class="actions vertical">
					<a href="{% url 'user-login' %}" class="btn btn-primary center">LOGIN</a>
				</div>
            </div>
        </div>
    </div>
{% endblock content %}