{% extends 'app/base_empty.html' %}
{% load static %}

{% block content %}
	<div class="dialog-wrapper">
        <div class="dialog">
            <div class="header">
				<div class="title">
					<img src="{% static 'images/operate.png' %}" alt="operate.png">
                    <h3>Welcome to OPERATE!</h3>
                </div>
            </div>
    
            <div class="body">
				<div class="description">
					<h2>Password Reset Confirm</h2>
				</div>
    
                <form method="POST">
                    {% csrf_token %}

					{% if form.non_field_errors %}
						<div class="alert alert-danger">
							{% for error in form.non_field_errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					<div class="fields">
						<div class="field">
							<label for="id_new_password1">New Password:</label>
							{% if form.new_password1.errors %}
								<div class="alert alert-danger">
									{% for error in form.new_password1.errors %}
										{{ error }}
									{% endfor %}
								</div>
							{% endif %}
							{% if form.new_password1.help_text %}
								<div class="help-text">
									{{ form.new_password1.help_text }}
								</div>
							{% endif %}
							<input type="password" class="form-control form-control-primary" name="{{form.new_password1.name}}" value="{% if form.new_password1.value %}{{form.new_password1.value}}{% endif %}" id="{{form.new_password1.id_for_label}}" required>
						</div>

						<div class="field">
							<label for="id_new_password2">Confirm New Password:</label>
							{% if form.new_password2.errors %}
								<div class="alert alert-danger">
									{% for error in form.new_password2.errors %}
										{{ error }}
									{% endfor %}
								</div>
							{% endif %}
							{% if form.new_password2.help_text %}
								<div class="help-text">
									{{ form.new_password2.help_text }}
								</div>
							{% endif %}
							<input type="password" class="form-control form-control-primary" name="{{form.new_password2.name}}" value="{% if form.new_password2.value %}{{form.new_password2.value}}{% endif %}" id="{{form.new_password2.id_for_label}}" required>
						</div>
					</div>
    
                    <div class="actions vertical">
						<button class="btn btn-primary center" type="submit">RESET PASSWORD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}