{% extends 'user/base.html' %}
{% load static %}

{% block content %}
	<div class="dialog-wrapper">
        <div class="dialog">
            <div class="header">
				<div class="title">
					<img src="{% static 'images/operate.png' %}" alt="operate.png">
                    <h3>Welcome to OPERATE!</h3>
                </div>
            </div>
    
            <div class="body">
				<div class="description">
					<h2>Password Reset</h2>
				</div>
    
                <form method="POST">
                    {% csrf_token %}

					{% if form.non_field_errors %}
						<div class="alert alert-danger">
							{% for error in form.non_field_errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					<div class="fields">
						<div class="field">
							<label for="id_email">Email:</label>
							{% if form.email.errors %}
								<div class="alert alert-danger">
									{% for error in form.email.errors %}
										{{ error }}
									{% endfor %}
								</div>
							{% endif %}
							<input type="email" class="form-control form-control-primary" name="{{form.email.name}}" value="{% if form.email.value %}{{form.email.value}}{% endif %}" id="{{form.email.id_for_label}}" required>
						</div>
					</div>
    
                    <div class="actions vertical">
						<button class="btn btn-primary center" type="submit">CONFIRM</button>
						<a class="btn btn-secondary center" href="javascript:history.go(-1)"><span>RETURN</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}