{% extends 'user/base.html' %}

{% block content %}
	<div class="raft">
		<div class="header">
			<h1>Welcome to OPERATE!</h1>

			<div class="nav">
				<div class="description">
					<h2>Password reset</h2>
					<p>fdasfsd</p>
				</div>

				<div class="actions">
					<a class="btn" href="{% url 'user-login' %}">Return</a>
				</div>
			</div>
		</div>

		<form method="POST">
			{% csrf_token %}

			<fieldset>
				{{ form }}
			</fieldset>

			<div class="actions">
				<button class="btn" type="submit">Confirm</button>
			</div>
		</form>
	</div>
{% endblock content %}