{% extends 'app/base_empty.html' %}
{% load static %}

{% block content %}
	<div class="dialog-wrapper">
        <div class="dialog">
            <div class="header">
				<div class="title">
					<img src="{% static 'images/operate.png' %}" alt="operate.png">
                    <h3>Welcome to OPERATE!</h3>
                </div>
            </div>
    
            <div class="body">
				<div class="description">
					<h2>Password Reset Done</h2>
					<p>An email has been sent to your email address for instructions.</p>
				</div>
    
                <form method="POST">
                    {% csrf_token %}

                    <div class="actions vertical">
						<a class="btn btn-secondary center" href="{% url 'user-login' %}"><span>BACK TO LOGIN</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}