{% extends 'app/base_headered.html' %}
{% load custom_filters %}

{% block content %}
	<div class="profiles facesearch">
		<div class="card-list-wrapper">
			<div class="header">
				<h2>Facesearch</h2>	
			</div>

			{% if messages %}
				<div class="messages-list">
					{% for message in messages %}
						<div class="message message-{{ message.tags }}">
							{{ message }}
						</div>
					{% endfor %}
				</div>
			{% endif %}
			
			<div class="pagination left">
				<div></div>
				
				<div class="color-legend">
					<h4>Legend</h4>
	
					<div class="legend">
						<i class="dot dot-personnel"></i>
						<i class="dot dot-inmate"></i>
						<span>Open</span>
					</div>
					<div class="legend">
						<i class="dot dot-personnel-muted"></i>
						<i class="dot dot-inmate-muted"></i>
						<span>Archived</span>
					</div>
				</div>
			</div>

			{% if search_result %}
				<div class="card-list">
					{% for profile, distance, percentage in search_result %}
						<div class="card {{ profile.p_type }}{% if profile.is_archived %}-archived{% endif %}">
							{% comment %}
								<div class="{{ profile.p_type }} header">
									<span class="title">Top {{ forloop.counter }}, Confidence: {{ percentage|floatformat:0 }}%</span>
								</div>
							{% endcomment %}

							<div class="actions">
								<a class="btn" href="{% url 'profile-update' profile.p_type profile.pk %}?next={{ request.path }}" title="Edit {{ profile }}">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
							
								{% if profile.is_archived %}
									<a class="btn" href="{% url 'archive-remove' profile.p_type profile.pk %}?next={{ request.path }}" title="Unarchive {{ profile }}">
										<span class="material-symbols-rounded">unarchive</span>
									</a>
								{% else %}
									<a class="btn" href="{% url 'archive-add' profile.p_type profile.pk %}?next={{ request.path }}" title="Archive {{ profile }}">
										<span class="material-symbols-rounded">archive</span>
									</a>
								{% endif %}
								
								<div class="dropdown">
									<button class="btn">
										<i class="fa-solid fa-download"></i>
									</button>
				
									<div class="content">
										<a class="btn" href="{% url 'profile-download' profile.p_type profile.pk 'docx' %}" title="Download {{ profile }} as .docx">
											<i class="fa-solid fa-file-word"></i>
											<span>as .docx</span>
										</a>
										<a class="btn" href="{% url 'profile-download' profile.p_type profile.pk 'pdf' %}" title="Download {{ profile }} as .pdf">
											<i class="fa-solid fa-file-pdf"></i>
											<span>as .pdf</span>
										</a>
									</div>
								</div>
								<a class="btn btn-danger" href="{% url 'profile-delete' profile.p_type profile.pk %}?next={{ request.path }}" title="Delete {{ profile }}">
									<i class="fa-solid fa-trash"></i>
								</a>
							</div>
	
							<a href="{% url 'profile' profile.p_type profile.pk %}?prev={{ request.path }}">
								<div class="picture">
									<img src="{{ profile.thumbnail.url }}" alt="{{ profile|full_name }}'s profile picture">
								</div>
	
								<div class="details">
									<span class="name detail">
										<span class="distance 
											{% if forloop.counter == 1 and percentage > 89 %}
												distance-primary
											{% elif percentage > 89 and forloop.counter != 1 %}
												distance-secondary
											{%endif%}
										">{{ percentage|floatformat:0 }}%</span> {{ profile.rank|upper }} {{ profile|full_name }}
									</span>
									<span class="detail" title="{{ profile|full_name }}'s home address">
										<i class="fa-solid fa-location-dot"></i>
										Address: {{ profile.address|title }}
									</span>
									<span class="detail" title="{{ profile|full_name }}'s profiled date">
										<i class="fa-solid fa-clock"></i>
										Profiled: {{ profile.date_profiled|date:"M j, Y" }}
									</span>
									{% if profile.p_type == 'personnel' %}
										<span class="detail" title="{{ profile|full_name }}'s assigned date">
											<i class="fa-solid fa-clipboard-check"></i>
											Assigned: {{ profile.date_assigned|date:"M j, Y" }}
										</span>
										<span class="detail" title="{{ profile|full_name }}'s designation">
											<i class="fa-solid fa-id-card"></i>
											Designation: {{ profile.designation }}
										</span>
									{% else %}
										<span class="detail" title="{{ profile|full_name }}'s arrested date">
											<i class="fa-solid fa-people-robbery"></i>
											Arrested: {{ profile.date_arrested|date:"M j, Y" }}
										</span>
										<span class="detail" title="{{ profile|full_name }}'s crime violation(s)">
											<i class="fa-solid fa-gavel"></i>
											Violation(s): {{ profile.crime_violated }}
										</span>
									{% endif %}
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>

		<div class="filter-bar">

			{% if not can_search %}
				<div class="disabler disabler-filter-bar">
					<h2>Create profiles first to enable search</h2>
				</div>
			{% endif %}


			{% comment %}
				<img src="" alt="" id="imagePreview" style="width: 225px; display: none; object-fit: contain;">
			{% endcomment %}

			<div class="form">
				<div class="fields">
					<div class="field">
						<h4>Search Category</h4>
						<select name="search_category" id="tagSource" class="form-control form-control-secondary">
							{% if has_inmate %}<option value="inmate" {% if search_category == "inmate" %}selected{% endif %}>Inmate</option>{% endif %}
							{% if has_personnel %}<option value="personnel" {% if search_category == "personnel" %}selected{% endif %}>Personnel</option>{% endif %}
						</select>
					</div>
				</div>
			</div>

			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="hidden" name="search_category" id="search_category_1" value="{{ search_category }}">

				<h4>Upload an image</h4>

				{{ form.image }}

				<div class="actions">
					<button class="btn btn-secondary" type="submit" name="option_upload" id="option_upload" value="1">
						<i class="fa-solid fa-upload"></i>
						<span>Search Using Uploaded Image</span>
					</button>
				</div>
			</form>

			<form method="POST">
				{% csrf_token %}
				<input type="hidden" name="search_category" id="search_category_2" value="{{ search_category }}">

				<h4>Capture image</h4>

				<button class="btn btn-secondary" name="option_camera" value="1" type="submit">
						<i class="fa-solid fa-camera"></i>
					<span>Take a Picture and Search</span>
				</button>

				<div class="fields">
					<div class="form-field">
						<label for="camera">Camera: </label>
						<input class="form-control" type="number" name="camera" id="camera" value="{{ camera }}" min="0" max="10" step="1">
					</div>
					<small>(Try to change if doesn't work)</small>
				</div>
			</form>
		</div>
	</div>


	<script>
        document.addEventListener("DOMContentLoaded", function() {
            // Get the file input element from the form
            const tagSource = document.getElementById("tagSource"); // Use the form field's ID
            const target_1 = document.getElementById("search_category_1");
            const target_2 = document.getElementById("search_category_2");

            tagSource.addEventListener("change", function(event) {
				target_1.value = tagSource.value;
				target_2.value = tagSource.value;
            });
        });
    </script>
	
{% endblock content %}