{% extends 'app/base_headered.html' %}
{% load custom_filters %}

{% block content %}
	
	<div class="index">
		<h2>Home</h2>

		{% if messages %}
			<div class="messages-list">
				{% for message in messages %}
					<div class="message message-{{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
			</div>
		{% endif %}

		<div class="new-profiles">
			<div class="card-list">
				<div class="header">
					<h5 class="title">RECENTLY ADDED PERSONNELS</h5>

					<div class="actions">
						<a class="btn btn-empty-personnel" href="{% url 'profile-add' 'personnel' %}?next={{ request.path }}" title="Add new personnel profile">
							{% if defset.show_icons == "show" %}
								<i class="fa-solid fa-square-plus"></i>
							{% endif %}
							<span>Add New Profile</span>
						</a>
					</div>
				</div>

				{% if personnels %}
					{% for profile in personnels %}
						<div class="card personnel">
							<div class="actions">
								<a class="btn" href="{% url 'profile-update' profile.p_type profile.pk %}?next={{ request.path }}" title="Edit {{ profile }}">
									{% if defset.show_icons == "show" %}
										<i class="fa-solid fa-pen-to-square"></i>
									{% else %}
										Edit
									{% endif %}
								</a>
							
								{% if profile.is_archived %}
									<a class="btn" href="{% url 'archive-remove' profile.p_type profile.pk %}?next={{ request.path }}" title="Unarchive {{ profile }}">
										{% if defset.show_icons == "show" %}
											<span class="material-symbols-rounded">unarchive</span>
										{% else %}
											Unarchive
										{% endif %}
									</a>
								{% else %}
									<a class="btn" href="{% url 'archive-add' profile.p_type profile.pk %}?next={{ request.path }}" title="Archive {{ profile }}">
										{% if defset.show_icons == "show" %}
											<span class="material-symbols-rounded">archive</span>
										{% else %}
											Archive
										{% endif %}
									</a>
								{% endif %}
								
								<div class="dropdown">
									<button class="btn">
										{% if defset.show_icons == "show" %}
											<i class="fa-solid fa-download"></i>
										{% else %}
											Download
										{% endif %}
									</button>
				
									<div class="content">
										<a class="btn" href="{% url 'profile-download' profile.p_type profile.pk 'docx' %}" title="Download {{ profile }} as .docx">
											{% if defset.show_icons == "show" %}
												<i class="fa-solid fa-file-word"></i>
											{% endif %}
											<span>as .docx</span>
										</a>
										<a class="btn" href="{% url 'profile-download' profile.p_type profile.pk 'pdf' %}" title="Download {{ profile }} as .pdf">
											{% if defset.show_icons == "show" %}
												<i class="fa-solid fa-file-pdf"></i>
											{% endif %}
											<span>as .pdf</span>
										</a>
									</div>
								</div>
								<a class="btn btn-danger" href="{% url 'profile-delete' profile.p_type profile.pk %}?next={{ request.path }}" title="Delete {{ profile }}">
									{% if defset.show_icons == "show" %}
										<i class="fa-solid fa-trash"></i>
									{% else %}
										Delete
									{% endif %}
								</a>
							</div>

							<a href="{% url 'profile' profile.p_type profile.pk %}?prev={{ request.path }}"> 
								<div class="picture">
									<img src="{{ profile.thumbnail.url }}" alt="{{ profile|full_name }}'s profile picture">
								</div>
	
								<div class="details">
									<span class="name detail">
										{{ profile.rank|upper }} {{ profile|full_name }}
									</span>
									<span class="detail" title="{{ profile|full_name }}'s home address">
										{% if defset.show_icons == "show" %}
											<i class="fa-solid fa-location-dot"></i>
										{% endif %}
										Address: {{ profile.address|title }}
									</span>
									<span class="detail" title="{{ profile|full_name }}'s profiled date">
										<!-- <i class="fa-solid fa-square-person-confined"></i> -->
										{% if defset.show_icons == "show" %}
											<i class="fa-solid fa-clock"></i>
										{% endif %}
										Profiled: {{ profile.date_profiled|date:"M j, Y" }}
									</span>
									<span class="detail" title="{{ profile|full_name }}'s assigned date">
										{% if defset.show_icons == "show" %}
											<i class="fa-solid fa-clipboard-check"></i>
										{% endif %}
										Assigned: {{ profile.date_assigned|date:"M j, Y" }}
									</span>
									<span class="detail" title="{{ profile|full_name }}'s designation">
										{% if defset.show_icons == "show" %}
											<i class="fa-solid fa-id-card"></i>
										{% endif %}
										Designation: {{ profile.designation }}
									</span>
								</div>
							</a>
						</div>
					{% endfor %}
				{% else %}
					<h3 class="muted">There are no personnels profiled.</h3>
				{% endif %}
			</div>		

			<!-- Inmates -->
			 
			<div class="card-list">
				<div class="header">
					<h5 class="title">RECENTLY ADDED INMATES</h5>

					<div class="actions">
						<a class="btn btn-empty-inmate" href="{% url 'profile-add' 'inmate' %}?next={{ request.path }}" title="Add new inmate profile">
							{% if defset.show_icons == "show" %}
								<i class="fa-solid fa-square-plus"></i>
							{% endif %}
							<span>Add New Profile</span>
						</a>
					</div>
				</div>

				{% if inmates %}
					{% for profile in inmates %}
						<div class="card inmate">
							<div class="actions">
								<a class="btn" href="{% url 'profile-update' profile.p_type profile.pk %}?next={{ request.path }}" title="Edit {{ profile }}">
									{% if defset.show_icons == "show" %}
										<i class="fa-solid fa-pen-to-square"></i>
										{% else %}
											Edit
									{% endif %}
								</a>
							
								{% if profile.is_archived %}
									<a class="btn" href="{% url 'archive-remove' profile.p_type profile.pk %}?next={{ request.path }}" title="Unarchive {{ profile }}">
										{% if defset.show_icons == "show" %}
											<span class="material-symbols-rounded">unarchive</span>
										{% else %}
											Unarchive
										{% endif %}
									</a>
								{% else %}
									<a class="btn" href="{% url 'archive-add' profile.p_type profile.pk %}?next={{ request.path }}" title="Archive {{ profile }}">
										{% if defset.show_icons == "show" %}
											<span class="material-symbols-rounded">archive</span>
										{% else %}
											Archive
										{% endif %}
									</a>
								{% endif %}
								
								<div class="dropdown">
									<button class="btn">
										{% if defset.show_icons == "show" %}
											<i class="fa-solid fa-download"></i>
										{% else %}
											Download
										{% endif %}
									</button>
				
									<div class="content">
										<a class="btn" href="{% url 'profile-download' profile.p_type profile.pk 'docx' %}" title="Download {{ profile }} as .docx">
											{% if defset.show_icons == "show" %}
												<i class="fa-solid fa-file-word"></i>
											{% endif %}
											<span>as .docx</span>
										</a>
										<a class="btn" href="{% url 'profile-download' profile.p_type profile.pk 'pdf' %}" title="Download {{ profile }} as .pdf">
											{% if defset.show_icons == "show" %}
												<i class="fa-solid fa-file-pdf"></i>
											{% endif %}
											<span>as .pdf</span>
										</a>
									</div>
								</div>
								<a class="btn btn-danger" href="{% url 'profile-delete' profile.p_type profile.pk %}?next={{ request.path }}" title="Delete {{ profile }}">
									{% if defset.show_icons == "show" %}
										<i class="fa-solid fa-trash"></i>
									{% else %}
										Delete
									{% endif %}
								</a>
							</div>

							<a href="{% url 'profile' profile.p_type profile.pk %}?prev={{ request.path }}"> 
								<div class="picture">
									<img src="{{ profile.thumbnail.url }}" alt="{{ profile|full_name }}'s profile picture">
								</div>
	
								<div class="details">
									<span class="name detail">
										{{ profile.rank|upper }} {{ profile|full_name }}
									</span>
									<span class="detail" title="{{ profile|full_name }}'s home address">
										{% if defset.show_icons == "show" %}
											<i class="fa-solid fa-location-dot"></i>
										{% endif %}
										Address: {{ profile.address|title }}
									</span>
									<span class="detail" title="{{ profile|full_name }}'s profiled date">
										{% if defset.show_icons == "show" %}
											<i class="fa-solid fa-clock"></i>
										{% endif %}
										Profiled: {{ profile.date_profiled|date:"M j, Y" }}
									</span>
									<span class="detail" title="{{ profile|full_name }}'s arrested date">
										{% if defset.show_icons == "show" %}
											<i class="fa-solid fa-people-robbery"></i>
										{% endif %}
										Arrested: {{ profile.date_arrested|date:"M j, Y" }}
									</span>
									<span class="detail" title="{{ profile|full_name }}'s crime violation(s)">
										{% if defset.show_icons == "show" %}
											<i class="fa-solid fa-gavel"></i>
										{% endif %}
										Violation(s): {{ profile.crime_violated }}
									</span>
								</div>
							</a>
						</div>
					{% endfor %}
				{% else %}
					<h3 class="muted">There are no inmates profiled.</h3>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}