{% extends 'app/base_headered.html' %}

{% block content %}
    <form class="settings" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="header">
            <h2 class="title">Settings</h2>
            
            <div class="actions">
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Save Changes
                </button>
            </div>
        </div>

		{% if messages %}
            <div class="messages-list">
                {% for message in messages %}
                    <div class="message message-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="body">
            <div class="section">
                <div class="header">
                    <h4>Pagination</h4>
                </div>

                <div class="block">
                    <div>
                        {% if form.profiles_per_page.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.profiles_per_page.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.profiles_per_page.label_tag }}
                                {{ form.profiles_per_page }}
                            </div>
        
                            <small>The number of profiles to be shown per page. The larger the amount will decrease the performance of the website.</small>
                        </div>
                    </div>

                    <div>
                        {% if form.thumbnail_size.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.thumbnail_size.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.thumbnail_size.label_tag }}
                                {{ form.thumbnail_size }}
                            </div>
        
                            <small>Determines how small or big the thumbnail resolution will be. The smaller the thumbnail size will increase the performance of the website however makes the profile images look very pixelated.</small>
                        </div>
                    </div>
                </div>
            </div>



            <div class="section">
                <div class="header">
                    <h4>Camera and Cropping</h4>
                </div>

                <div class="block">
                    <div>
                        {% if form.camera.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.camera.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.camera.label_tag }}
                                {{ form.camera }}
                            </div>

                            <small>The default camera is determined by your device's camera setup, usually starting with the primary camera (0).</small>
                        </div>
                    </div>

                    <div>
                        {% if form.cam_clipping.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.cam_clipping.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.cam_clipping.label_tag }}
                                {{ form.cam_clipping }}
                            </div>

                            <small>Whether to crop the camera or not.</small>
                        </div>
                    </div>

                    <div>
                        {% if form.face_cropping.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.face_cropping.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.face_cropping.label_tag }}
                                {{ form.face_cropping }}
                            </div>

                            <small>Whether to crop the face from image or not. This is used to make embeddings.</small>
                        </div>
                    </div>
                </div>
            </div>
            


            <div class="section">
                <div class="header">
                    <h4>Search</h4>
                </div>

                <div class="block">
                    <div>
                        {% if form.threshold.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.threshold.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.threshold.label_tag }}
                                {{ form.threshold }}
                            </div>
                        
                            <small>The threshold is used to compare input images with stored ones. The smaller the threshold will see less profile as not match.</small>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="section">
                <div class="header">
                    <h4>Templates</h4>
                </div>

                <div class="block">
                    <div>
                        {% if form.template_personnel.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.template_personnel.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                <label for="{{ form.template_personnel.id_for_label }}">Personnel</label>
                                {{ form.template_personnel }}
                            </div>

                            {% if defset.template_personnel %}
                                <span>Current: <a class="link" href="{{ defset.template_personnel.url }}" target="_blank">{{ defset.template_personnel.name }}</a></span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div>
                        {% if form.template_inmate.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.template_inmate.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                <label for="{{ form.template_inmate.id_for_label }}">Inmate</label>
                                {{ form.template_inmate }}
                            </div>

                            {% if defset.template_inmate %}
                                <span>Current: <a class="link" href="{{ defset.template_inmate.url }}" target="_blank">{{ defset.template_inmate.name }}</a></span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <small>The [[placeholder]] must stay accurate so the system places data correctly. Users can fix content (like typos) but can’t alter the layout (mainly the table), ensuring the template structure remains intact. You can download the template by clicking the link beside the input field.</small>
                </div>
            </div>
            
            
            
            <div class="section">
                <div class="header">
                    <h4>Model</h4>
                </div>

                <div class="block">
                    <div>
                        {% if form.model_detection.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.model_detection.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.model_detection.label_tag }}
                                {{ form.model_detection }}
                            </div>

                            {% if defset.model_detection %}
                                <span>Current: <a class="link" href="{{ defset.model_detection.url }}" target="_blank">{{ defset.model_detection.name }}</a> </span>
                            {% endif %}
                        </div>

                        <small>The AI Model used to detect faces in images.</small>
                    </div>
                    <div>
                        {% if form.model_embedding_generator.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.model_embedding_generator.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
 
                        <div class="item">
                            <div class="form-field">
                                {{ form.model_embedding_generator.label_tag }}
                                {{ form.model_embedding_generator }}
                            </div>

                            {% if defset.model_embedding_generator %}
                                <span>Current: <a class="link" href="{{ defset.model_embedding_generator.url }}" target="_blank">{{ defset.model_embedding_generator.name }}</a> </span>
                            {% endif %}
                        </div>

                        <small>The AI Model used to recognize individuals.</small>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
