{% extends 'app/base_headered.html' %}

{% block content %}
    <form class="settings" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="header">
            <h2 class="title">Settings</h2>
            
            <div class="actions">
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Save Changes
                </button>
            </div>
        </div>

		{% if messages %}
            <div class="messages-list">
                {% for message in messages %}
                    <div class="message message-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="body">
            <div class="section">
                <div class="header">
                    <h4>Pagination</h4>
                </div>

                <div class="block">
                    <div>
                        {% if form.profiles_per_page.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.profiles_per_page.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.profiles_per_page.label_tag }}
                                {{ form.profiles_per_page }}
                            </div>
        
                            <small>The number of profiles to be shown per page. The larger the amount will decrease the performance of the website.</small>
                        </div>
                    </div>

                    <div>
                        {% if form.thumbnail_size.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.thumbnail_size.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.thumbnail_size.label_tag }}
                                {{ form.thumbnail_size }}
                            </div>
        
                            <small>Determines how small or big the thumbnail resolution will be. The smaller the thumbnail size will increase the performance of the website however makes the profile images look very pixelated.</small>
                        </div>
                    </div>
                </div>
            </div>



            <div class="section">
                <div class="header">
                    <h4>Camera and Cropping</h4>
                </div>

                <div class="block">
                    <div>
                        {% if form.camera.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.camera.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.camera.label_tag }}
                                {{ form.camera }}
                            </div>

                            <small>The default camera is determined by your device's camera setup, usually starting with the primary camera (0).</small>
                        </div>
                    </div>

                    <div>
                        {% if form.clip_camera.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.clip_camera.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.clip_camera.label_tag }}
                                {{ form.clip_camera }}
                            </div>

                            <small>Whether to crop the camera or not. Used with the default_crop_size for saving.</small>
                        </div>
                    </div>

                    <div>
                        {% if form.clip_size.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.clip_size.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.clip_size.label_tag }}
                                {{ form.clip_size }}
                            </div>

                            <small>The size of the the camera. May not work if values are too large or small and may depend on the webcam's resolution.</small>
                        </div>
                    </div>
                </div>
            </div>
            


            <div class="section">
                <div class="header">
                    <h4>Search</h4>
                </div>

                <div class="block">
                    <div>
                        {% if form.threshold.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.threshold.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.threshold.label_tag }}
                                {{ form.threshold }}
                            </div>
                        
                            <small>The threshold is used to compare input images with stored ones. The smaller the threshold will see less profile as not match.</small>
                        </div>
                    </div>

                    <div>
                        {% if form.search_mode.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.search_mode.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.search_mode.label_tag }}
                                {{ form.search_mode }}
                            </div>

                            <small>Embedding is the simplified version of an image which makes recognition faster, unlike using raw images that need more processing. Embedding is generated once any profile image is saved.</small>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="section">
                <div class="header">
                    <h4>Templates</h4>
                </div>

                <div class="block">
                    <div>
                        {% if form.template_personnel.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.template_personnel.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                <label for="{{ form.template_personnel.id_for_label }}">Personnel</label>
                                {{ form.template_personnel }}
                            </div>

                            {% if defset.template_personnel %}
                                <span>Current: <a class="link" href="{{ defset.template_personnel.url }}" target="_blank">{{ defset.template_personnel.name }}</a></span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div>
                        {% if form.template_inmate.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.template_inmate.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                <label for="{{ form.template_inmate.id_for_label }}">Inmate</label>
                                {{ form.template_inmate }}
                            </div>

                            {% if defset.template_inmate %}
                                <span>Current: <a class="link" href="{{ defset.template_inmate.url }}" target="_blank">{{ defset.template_inmate.name }}</a></span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <small>The [[placeholder]] must stay accurate so the system places data correctly. Users can fix content (like typos) but can’t alter the layout (mainly the table), ensuring the template structure remains intact. You can download the template by clicking the link beside the input field.</small>
                </div>
            </div>
            
            
            
            <div class="section">
                <div class="header">
                    <h4>Model</h4>
                </div>

                <div class="block">
                        <div>
                            {% if form.model.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.model.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="item">
                            <div class="form-field">
                                {{ form.model.label_tag }}
                                {{ form.model }}
                            </div>

                            {% if defset.model %}
                                <span>Current: <a class="link" href="{{ defset.model.url }}" target="_blank">{{ defset.model.name }}</a> </span>
                            {% endif %}
                        </div>
                    </div>

                    <small>The AI Model used to recognize individuals.</small>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
