{% extends 'app/base_headered.html' %}

{% block content %}


    <form class="profile" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="header personnel">
			<a class="btn btn-outline-light" href="javascript:history.go(-1)">
				<span class="material-symbols-outlined">arrow_back_ios</span>
				<span>Back</span>
			</a>
            
            <h2 class="title">Settings</h2>
            
            <div class="buttons">
                <button type="submit" class="btn btn-light">
                    <span class="material-symbols-outlined">Save</span>
                    Save Changes
                </button>
            </div>
        </div>

        <div class="body settings">
            <div class="settings-section">
                <div class="settings-header">
                    <h3>Defaults</h3>
                </div>

                <div class="settings-block">
                    {% if form.default_threshold.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.default_threshold.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="settings-item">
                        {{ form.default_threshold.label_tag }}
                    
                        {{ form.default_threshold }}
                    
                        <small>The threshold is used to compare input images with stored ones. The smaller the threshold will see less profile as not match.</small>
                    </div>

                    {% if form.default_profiles_per_page.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.default_profiles_per_page.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="settings-item">
                        {{ form.default_profiles_per_page.label_tag }}
    
                        {{ form.default_profiles_per_page }}
    
                        <small>The number of profiles to be shown per page. The larger the amount will decrease the performance of the website.</small>
                    </div>

                    {% if form.default_thumbnail_size.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.default_thumbnail_size.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="settings-item">
                        {{ form.default_thumbnail_size.label_tag }}
    
                        {{ form.default_thumbnail_size }}
    
                        <small>Determines how small or big the thumbnail resolution will be. The smaller the thumbnail size will increase the performance of the website however makes the profile images look very pixelated.</small>
                    </div>

                    {% if form.default_camera.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.default_camera.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="settings-item">
                        {{ form.default_camera.label_tag }}
    
                        {{ form.default_camera }}

                        <small>The default camera is determined by your device's camera setup, usually starting with the primary camera (0).</small>
                    </div>

                    {% if form.crop_camera.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.crop_camera.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="settings-item">
                        {{ form.crop_camera.label_tag }}
    
                        {{ form.crop_camera }}

                        <small>Whether to crop the camera or not. Used with the default_crop_size for saving.</small>
                    </div>

                    {% if form.default_crop_size.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.default_crop_size.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="settings-item">
                        {{ form.default_crop_size.label_tag }}
    
                        {{ form.default_crop_size }}

                        <small>The size of the the camera. May not work if values are too large or small and may depend on the webcam's resolution.</small>
                    </div>

                    {% if form.default_search_method.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.default_search_method.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="settings-item">
                        {{ form.default_search_method.label_tag }}
    
                        {{ form.default_search_method }}

                        <small>Embedding is the simplified version of an image which makes recognition faster, unlike using raw images that need more processing. Embedding is generated once any profile image is saved.</small>
                    </div>
                </div>
            </div>
            
            <div class="settings-section">
                <div class="settings-header">
                    <h3>Templates</h3>
                    <p>The [[placeholder]] must stay accurate so the system places data correctly. Users can fix content (like typos) but can’t alter the layout (mainly the table), ensuring the template structure remains intact. You can download the template by clicking the link beside the input field.</p>
                </div>

                <div class="settings-block">
                    
                    {% if form.personnel_template.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.personnel_template.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="settings-item">
                        {{ form.personnel_template.label_tag }}
                        
                        {{ form.personnel_template }}

                        {% if default_settings.personnel_template %}
                            <span>Current: <a class="link" href="{{ default_settings.personnel_template.url }}" target="_blank">{{ default_settings.personnel_template.url }}</a></span>
                        {% endif %}
                    </div>
                    
                    {% if form.inmate_template.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.inmate_template.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="settings-item">
                        {{ form.inmate_template.label_tag }}

                        {{ form.inmate_template }}

                        {% if default_settings.inmate_template %}
                            <span>Current: <a class="link" href="{{ default_settings.inmate_template.url }}" target="_blank">{{ default_settings.inmate_template.url }}</a> </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="settings-section">
                <div class="settings-header">
                    <h3>Model</h3>
                    <p>The AI Model used to recognize individuals.</p>
                </div>
                <div class="settings-block">

                    {% if form.model.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.model.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="settings-item">
                        {{ form.model.label_tag }}

                        {{ form.model }}

                        
                        {% if default_settings.model %}
                            <span>Current: <a class="link" href="{{ default_settings.model.url }}" target="_blank">{{ default_settings.model.url }}</a> </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
