{% extends 'home/base.html' %}

{% block content %}
	<div class="confirm">
		<div class="header">
			<div class="title">
				<a class="btn" href="javascript:history.go(-1)">Return</a>
				<h2>{{ title }}</h2>
			</div>

		<div class="description">
			<p>Are you sure to {{ action }} the archives?</p>
		</div>

		<form method="POST">
			{% csrf_token %}
			<div class="actions">
				<button class="btn" type="submit">Confirm</button>
				<a class="btn" href="javascript:history.go(-1)">Cancel</a>
			</div>
		</form>
	</div>
{% endblock content %}