{% extends 'home/base.html' %}
{% load custom_filters %}

{% block content %}
	<div class="profile">
		<div class="header">
			<div class="title">
				<a class="btn" href="javascript:history.go(-1)">
					<span class="material-symbols-outlined">
						arrow_back_ios
					</span>
					Back
				</a>
				<h2>{{ profile.profile.f_name }}'s Profile</h2>
			</div>

			<div class="actions">
				<a class="btn" href="{% url 'profile-edit'  profile.profile.pk%}?next={{request.path}}">
					<span class="material-symbols-outlined">
						edit
					</span>
					Edit Profile
				</a>
				<a class="btn" href="{% url 'archives-remove' profile.profile.pk %}?next={{request.path}}">
					<span class="material-symbols-outlined">
						unarchive
					</span>
					Unarchive
				</a>
				
				<div class="dropdown">
					<button class="btn">
						<span class="material-symbols-outlined">
							more_vert
						</span>
					</button>

					<div class="content">
						<a class="btn" href="#">
							<span class="material-symbols-outlined">
								file_export
							</span>
							Export as .docx
						</a>
						<a class="btn" href="#">
							<span class="material-symbols-outlined">
								delete
							</span>
							Delete
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="info">
			<div class="picture">
				<img src="{{ profile.profile.thumbnail.url }}" alt="">
			</div>
			
			<div class="details">
				<div>Name: {{ profile.profile|full_name }}</div>
				<div>Age: {{ profile.profile.age }}</div>
				<div>Address: {{ profile.profile.address }} </div>
				<div>Civil Status: {{ profile.profile.civil_status }}</div>
				<div>Date Last Edited: {{ profile.profile.f_name }}</div>
				<div>Date Profiled: {{ profile.profile.date_profiled }}</div>
				<div>Date Assigned: {{ profile.profile.date_assigned }}</div>
				<div>Date Relieved: {{ profile.profile.date_relieved }}</div>
				<div>Designation: {{ profile.profile.designation }}</div>
			</div>
		</div>
	</div>
{% endblock content %}